  <div class="bank-form">
    <form [formGroup]="form">
      <fieldset>
        <legend>Building founding</legend>
        <span>Work types</span>
        <go-badge-group [formControlName]="'workTypes'"  [readonly]="true">
          @for (worktype of workTypes; track worktype.code) {
            <go-badge [readonly]="true" [value]="worktype.code" [readonly]="true">{{ worktype.label }}</go-badge>
          }
        </go-badge-group>

        <span>Building types</span>
        <go-badge-group [formControlName]="'buildingTypes'"  [readonly]="true">
          @for (buildingtype of buildingTypes; track buildingtype.code) {
            <go-badge [readonly]="true" [value]="buildingtype.code" [readonly]="true">{{ buildingtype.label }}</go-badge>
          }
        </go-badge-group>
      </fieldset>

      <fieldset>
        <legend>Target region</legend>

        <goeko-select-locations [form]="form" [controlLocations]="locationsArrays" [singleSelect]="true"></goeko-select-locations>

        <span>Owner profile</span>
        <go-badge-group [formControlName]="'ownerProfiles'"  [readonly]="true">
          @for (ownerProfile of ownerProfiles; track ownerProfile.code) {
            <go-badge [readonly]="true" [value]="ownerProfile.code" [readonly]="true">{{ ownerProfile.label }}</go-badge>
          }
        </go-badge-group>
        <div class="flex">
          <div class="w-full">
            <label for="montanMinimun">{{ 'FORM_LABEL.montanMinimun' | translate }}</label>
            <ui-super-select
              [readonly]="false"
              [formControlName]="'montanMinimun'"
              id="montanMinimun"
              name="montanMinimun">
              <super-option *ngFor="let option of dataSelect['montanMinimun']" [value]="option">
                {{ option.keyLang | translate }}
              </super-option>
            </ui-super-select>
          </div>
          <div class="w-full">
            <label for="currency">{{ 'FORM_LABEL.devise' | translate }}</label>
            <ui-super-select
              [readonly]="false"
              [placeholder]="'SELECT_DATA_LABEL.currency' | translate"
              [formControlName]="'currency'"
              id="currency"
              name="currency"
              [compareWith]="defaultSetCurrency">
              <super-option *ngFor="let option of dataSelect['currency']" [value]="option">
                {{ option.keyLang | translate }}
              </super-option>
            </ui-super-select>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Contact</legend>
        <div class="flex">
          <div class="w-full">
            <go-input [formControlName]="'email'" id="email" type="email" autocomplete="username" name="email">
              <p slot="label">{{ 'FORM_LABEL.email' | translate }}</p>
            </go-input>
          </div>

          <div class="w-full">
            <go-input [formControlName]="'phoneNumber'" type="number">
              <span slot="label">
                {{ 'FORM_LABEL.phoneNumber' | translate }}
              </span>
              <p class="required-field" slot="required">{{ 'mandatory' | translate }}</p>
            </go-input>

          </div>
        </div>
      </fieldset>
      <div class="actions-button">
        <button
          go-button
          type="submit"
          [disabled]="form.invalid">
          {{ 'save' | translate }}
        </button>
        <button
        go-button
        type="submit"
        [disabled]="form.invalid">
        {{ 'skip' | translate }}
      </button>
      </div>
    </form>
  </div>
