<form [formGroup]="form" class="w-full rounded-lg bg-white p-6 shadow-md">
  <fieldset>
    <legend>{{ 'FORM_LABEL.buildingFounding' | translate }}</legend>
    <span>{{ 'FORM_LABEL.workTypes' | translate }}</span>
    <go-badge-group [formControlName]="'workTypes'">
      @for (worktype of workTypes(); track worktype.id) {
        <go-badge [value]="worktype">{{ worktype.label | translate }}</go-badge>
      }
    </go-badge-group>

    <span>{{ 'FORM_LABEL.buildingTypes' | translate }}</span>
    <go-badge-group [formControlName]="'buildingTypes'">
      @for (buildingtype of buildingTypes(); track buildingtype.id) {
        <go-badge [value]="buildingtype">{{ buildingtype.label | translate }}</go-badge>
      }
    </go-badge-group>
  </fieldset>

  <fieldset>
    <legend>{{ 'FORM_LABEL.targetRegion' | translate }}</legend>
    <goeko-select-locations [form]="form" [controlLocations]="locationsArrays" [singleSelect]="true"></goeko-select-locations>
    <span>{{ 'FORM_LABEL.ownerProfile' | translate }}</span>

    <go-badge-group [formControlName]="'ownerProfiles'">
      @for (ownerProfile of ownerProfiles(); track ownerProfile.id) {
        <go-badge [value]="ownerProfile">{{ ownerProfile.label | translate }}</go-badge>
      }
    </go-badge-group>
    <div class="flex">
      <div class="w-full">
        <label for="montanMinimun">{{ 'FORM_LABEL.montanMinimun' | translate }}</label>
        <ui-super-select
          [readonly]="false"
          [placeholder]="'SELECT_DATA_LABEL.defaultLabel' | translate"
          [formControlName]="'montanMinimun'"
          id="montanMinimun"
          name="montanMinimun">
          @for (money of amount(); track money.id; let first = $first) {
            <super-option [value]="money.label" [valueSelected]="first"> {{ money.label }}</super-option>
          }
        </ui-super-select>
      </div>
      <div class="w-full">
        <label for="currency">{{ 'FORM_LABEL.currency' | translate }}</label>
        <ui-super-select
          [readonly]="false"
          [placeholder]="'SELECT_DATA_LABEL.currency' | translate"
          [formControlName]="'currency'"
          id="currency"
          name="currency"
          [compareWith]="defaultSetCurrency">
          @for (currency of currencys(); track currency.id) {
            <super-option [value]="currency.label"> {{ currency.label }}</super-option>
          }
        </ui-super-select>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>{{ 'FORM_LABEL.contact' | translate }}</legend>

    <div class="flex">
      <div class="w-full">
        <go-input [formControlName]="'contactPerson'" id="contactPerson" type="contactPerson">
          <p slot="label">{{ 'FORM_LABEL.contactPerson' | translate }}</p>
        </go-input>
      </div>
    </div>

    <div class="flex">
      <div class="w-full">
        <go-input [formControlName]="'email'" id="email" type="email" placeholder="email@gmail.com">
          <p slot="label">{{ 'FORM_LABEL.email' | translate }}</p>
        </go-input>
      </div>

      <div class="w-full">
        <go-input [formControlName]="'phoneNumber'" type="text" placeholder="00 000 000 000">
          <span slot="label">
            {{ 'FORM_LABEL.phoneNumber' | translate }}
          </span>
        </go-input>
      </div>
    </div>
  </fieldset>

</form>
<div class="mt-4 flex justify-between">
  <button go-button appearance="white" (click)="goBack()">{{ 'back' | translate }}</button>
  <div class="flex items-center gap-2">
    <button go-button type="submit" (click)="save()">{{ 'save' | translate }}</button>
    <button go-button (click)="goSkip()" appearance="flat">{{ 'skip' | translate }}</button>
  </div>
</div>
