<div class="relative flex min-h-screen flex-col items-center justify-center overflow-hidden py-6 sm:py-12 bg-white">
    <div class="max-w-xl px-5 text-center">
      <h2 class="mb-2 text-[42px] font-bold text-zinc-800 leading-none">{{'VERIFY_EMAIL.title' | translate}}</h2>
      <p class="mb-2 text-lg text-zinc-500">{{'VERIFY_EMAIL.body' | translate}} <span class="font-medium text-indigo-500"> </span>.</p>
      <a href="/home" class="mt-3 inline-block w-96 rounded bg-indigo-600 px-5 py-3 font-medium text-white shadow-md shadow-indigo-500/20 hover:bg-indigo-700">{{'Home'| translate}}→</a>
    </div>
  </div>