<!--<p>data-admin works!</p>-->

<div class="sm:px-6 w-full">
    <h2 class="text-sky-700 font-sans text-3xl font-bold">Admin Panel</h2>
                <div class="px-4 md:px-10 py-4 md:py-7">
                    <div class="flex items-center justify-between">
                        <h2 tabindex="0" class="text-gray-800 text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal">Users</h2>
                    </div>
                </div>
                <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
                    <div class="sm:flex items-center justify-between">
                        <div class="flex items-center">
                          <div *ngFor="let actor of DATA_ACTOR_SWITCH">
                            <button (click)="changeUserType(actor.type)" class="rounded-full focus:outline-none focus:ring-2 focus:bg-indigo-50 focus:ring-primary-400 ml-4 sm:ml-8">
                                <div class="py-2 px-8 text-primary-500 hover:text-white hover:bg-primary-400 rounded-full">
                                    <p>{{ actor.name }}</p>
                                </div>
                            </button>
                          </div>
                        </div>
                    </div>
                    <div class="mt-7 overflow-x-auto rounded-lg">
                        <table class="w-full">
                                <thead>
                                    <tr scope="col">
                                        @for( header of headers; track header) {
                                            <th class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">{{ header.title }}</th>
                                        }
                                    </tr>

                                </thead>
                                <tbody bg-white divide-y divide-gray-200>
                                  <ng-container *ngIf="userType === 'SME'; then showSmeData"></ng-container>

                                  <!--@if ("userType == 'SME'") {-->
                                  <ng-template #showSmeData>

                                    @for( smeUser of smeUsers; track smeUser) {
                                        <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 rounded">
                                            <!--<td class="px-6 py-4 whitespace-nowrap">
                                                <input type="checkbox" class="h-4 w-4 rounded"/>
                                            </td>-->
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ smeUser.id }}</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ smeUser.name }}</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ smeUser.country }}</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ smeUser.email }}</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ smeUser.website }}</td>


                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="flex space-x-4">
                                                  <i class="ti ti-trash"></i>
                                                  <!--<i class="ti ti-pencil"></i>-->
                                                </div>
                                              </td>
                                        </tr>
                                    }
                                  <!--}-->
                                  </ng-template>

                                  <ng-container *ngIf="userType === 'Cleantech'; then showCleantechData"></ng-container>
                                  <ng-template #showCleantechData>
                                  <!--@if ("userType == 'Cleantech'") {-->
                                    @for( cleantechUser of cleantechUsers; track cleantechUser) {
                                      <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 rounded">
                                          <!--<td class="px-6 py-4 whitespace-nowrap">
                                              <input type="checkbox" class="h-4 w-4 rounded"/>
                                          </td>-->

                                          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ cleantechUser.id }}</td>
                                          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ cleantechUser.name }}</td>
                                          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ cleantechUser.country }}</td>
                                          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ cleantechUser.email }}</td>
                                          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ cleantechUser.website }}</td>


                                          <td class="px-6 py-4 whitespace-nowrap">
                                              <div class="flex space-x-4">
                                                <i class="ti ti-trash"></i>
                                                <!--<i class="ti ti-pencil"></i>-->
                                              </div>
                                            </td>
                                      </tr>
                                    }
                                <!--}-->
                                  </ng-template>
                                </tbody>
                        </table>
                        <div class="mt-7 overflow-x-auto rounded-lg">
                          <p class="uppercase dark:text-gray-400">Number of SME Users:</p>
                          <p class="uppercase dark:text-gray-700"> {{ smeUsers.length }}</p>
                          <p class="uppercase dark:text-gray-400">Number of Cleantech Users:</p>
                          <p class="uppercase dark:text-gray-700"> {{ cleantechUsers.length }}</p>
                        </div>
                    </div>
                </div>
</div>
