@defer (when project() && form) {
  <h1 class="text-2xl font-bold">{{ project().name }}</h1>
  <p>{{ 'alertSelectedProduct' | translate }}</p>

  <form [formGroup]="form" class="relative flex h-auto flex-col items-center">
    <!-- CATEGORY -->
    <goeko-category
      [categories]="groupingForm() || []"
      (onSelectCategory)="selectCategory($event)"
      [formValue]="form.value"
      [indexSelected]="indexCategorySelected()">
    </goeko-category>

    <!--GROUPING FORM CATEGORY -->
    @for (category of groupingForm(); track category.id) {
      <section class="w-full overflow-hidden rounded-lg">
        @if (category.code === categorySelected()?.code) {
          <div [formGroupName]="category.code">
            @for (subCategory of category.subcategories; track subCategory.code) {
              <goeko-select-subcategory-product
                [id]="subCategory.code"
                [subCategory]="subCategory"
                [typeTitle]="'question'"
               >
                <p title>{{ subCategory.question }}</p>
                <go-badge-group
                  [id]="subCategory.code"
                  [formControlName]="subCategory.code"
                  [compareWith]="compareWithProducts"
                  (valueSelected)="addProduct(subCategory.code, $event)">
                  @for (product of subCategory.products; track product.code; let i = $index) {
                    @if (product.enabled) {
                      <go-badge [value]="product">{{ product.label }}</go-badge>
                    }
                  }
                </go-badge-group>
              </goeko-select-subcategory-product>
            }
          </div>
        }
      </section>
    }
  </form>

  <div class="my-4 flex items-center justify-between">
    @if (indexCategorySelected() > 0) {
      <button go-button appearance="white" (click)="prevCategory()">{{ 'back' | translate }}</button>
    }

    @if (indexCategorySelected() < groupingForm().length - 1) {
      <button class="ml-auto" go-button (click)="nextCategory()">{{ 'MENU_USER_SME.dialogButtonNext' | translate }}</button>
    } @else {
      <button class="ml-auto" go-button (click)="searchEcosolutions()">{{ 'searchEcosolutions' | translate }}</button>
    }
  </div>
} @placeholder {
  <div>loading...</div>
}
