.header {
  background-color: #ffffff;
 
  position: sticky;
  top: 0;
  &-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 5rem;
    gap: 1rem;

    align-items: flex-end;
    height: 8rem;
  }
  &-slogan {
    color: var(--color-primary);
    font-size: 22px;
    text-transform: uppercase;
    font: var(--font-subtitle);
  }
  &-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    bottom: -20px;
    position: relative;
  }
}
.logo {
  width: 60px;
  height: 50px;
}
.contact-us {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;

  color: var(--color-text-light);
}
