.header {
  background-color: #ffffff;

  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: var(--center-container);
  padding-top: 0.75rem;
  &-wrapper {
    width: 82.5rem;
    display: flex;
    align-items: center;
    height: 6rem;
    gap: 1rem;
  }
  &-slogan {
    color: var(--color-primary);
    font-size: 22px;
    font: var(--font-subtitle);
  }
  &-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    bottom: -20px;
    position: relative;
  }
}
.logo {
  max-width: 89px;
  max-height: 89px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.contact-us {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;

  color: var(--color-text-light);
}
