<div class="banner">
	<div class="banner-content">
		<span class="banner-info">A Swiss Company</span>

		<h2 class="banner-slogan">
			The <span class="banner-slogan--green">Green</span> Transition. Easy. Fast. Affordable.
		</h2>
		<!--    <h2>
      The Solution for SMEs.
    </h2> -->
		<div class="banner-actions">
			<button go-button appearance="transparent">Contact us</button>
			<button go-button>
				White Paper
				<span class="material-symbols-rounded"> file_open </span>
			</button>
		</div>
	</div>

	<div class="banner-shadow"></div>
	<img src="/assets/bkg-10.png" />
</div>
