<!-- Cuadro de información sobre la política de contraseñas. Nuevo componente PasswordPolicyComponent-->
<div class="border border-gray-300 rounded-md p-4 bg-white shadow-sm">
  <p class="text-sm text-gray-800 font-medium mb-3">{{ 'PASSWORD_POLICY.passwordRequirement' | translate }}</p>
  <ul class="space-y-2">
    <li class="flex items-start gap-2">
      <span class="text-green-600"><i class="ti ti-check"></i></span>
      <p class="text-sm text-gray-700">{{ 'PASSWORD_POLICY.eightChars' | translate }}</p>
    </li>
    <li class="flex items-start gap-2">
      <span class="text-green-600"><i class="ti ti-check"></i></span>
      <p class="text-sm text-gray-700">{{ 'PASSWORD_POLICY.requirementTypes' | translate }}</p>
    </li>
    <ul class="pl-6 space-y-2">
      <li class="flex items-start gap-2">
        <span class="text-green-600"><i class="ti ti-check"></i></span>
        <p class="text-sm text-gray-700">{{ 'PASSWORD_POLICY.lowerCase' | translate }}</p>
      </li>
      <li class="flex items-start gap-2">
        <span class="text-green-600"><i class="ti ti-check"></i></span>
        <p class="text-sm text-gray-700">{{ 'PASSWORD_POLICY.upperCase' | translate }}</p>
      </li>
      <li class="flex items-start gap-2">
        <span class="text-green-600"><i class="ti ti-check"></i></span>
        <p class="text-sm text-gray-700">{{ 'PASSWORD_POLICY.numbers' | translate }}</p>
      </li>
      <li class="flex items-start gap-2">
        <span class="text-green-600"><i class="ti ti-check"></i></span>
        <p class="text-sm text-gray-700">{{ 'PASSWORD_POLICY.specialChars' | translate }}</p>
      </li>
    </ul>
  </ul>
</div>

