<div class="relative hidden lg:flex lg:gap-x-24 items-center">
  @for (item of menu(); track item.id) {
    @switch (item.code) {
      @case ('contact') {
        <ng-container *ngTemplateOutlet="contactSubmenu; context: { item: item }"></ng-container>
      }
      @default {
        <ng-container *ngTemplateOutlet="menuSimple; context: { item: item }"></ng-container>
      }
    }
  }
</div>

<ng-template #menuSimple let-item="item">
  <a [routerLink]="item.url" class="text-white">{{ item.keyLang | translate }}</a>
</ng-template>

<!--Submenu-->
<ng-template #contactSubmenu let-item="item">
  <button
    type="button"
    (click)="submenuOpenToggle()"
    class="flex items-center gap-x-1 leading-6 text-white"
    aria-expanded="false">
    {{ item.keyLang | translate }}
  </button>
  <div class="submenu" [ngClass]="{ flex: submenuOpen(), hidden: !submenuOpen() }">
    @for (item of item.submenu; track item) {
      <div>
        <span class="submenu-subtitle">{{ item.contactsName }}</span>
        <p class="submenu-element">
          <i class="ti ti-mail-filled"></i>
          <a href="mailto:{{ item.email }}">{{ item.email }}</a>
        </p>
        <p class="submenu-element">
          <i class="ti ti-phone-call"></i>
          {{ item.phoneNumber }}
        </p>
      </div>
    }
    <img loading="lazy"  class="icon-contact" src="assets/connection.svg" alt="connection" />
  </div>
</ng-template>
