@for (item of menu(); track item.id) {
  @switch (item.code) {
    @case ('contact') {
      <ng-container *ngTemplateOutlet="contactSubmenu; context: { item: item }"></ng-container>
    }
    @default {
      <ng-container *ngTemplateOutlet="menuSimple; context: { item: item }"></ng-container>
    }
  }
}

<ng-template #menuSimple let-item="item">
  <a href="#" class="text-sm font-semibold leading-6 text-gray-900">{{ item.keyLang | translate }}</a>
</ng-template>

<!--Submenu-->
<ng-template #contactSubmenu let-item="item">
  <button type="button" class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900" aria-expanded="false">
    {{item.keyLang | translate}}
    <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path
        fill-rule="evenodd"
        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
        clip-rule="evenodd" />
    </svg>
  </button>
  <div class="submenu">
    @for (item of item.submenu; track item) {
      <div>
        <span class="submenu-subtitle">{{ item.contactsName }}</span>
        <p class="submenu-element">
          <i class="ti ti-mail-filled"></i>
          <a href="mailto:{{ item.email }}">{{ item.email }}</a>
        </p>
        <p class="submenu-element">
          <i class="ti ti-phone-call"></i>
          {{ item.phoneNumber }}
        </p>
      </div>
    }
    <img class="icon-contact" src="assets/connection.svg" alt="connection" />
  </div>
</ng-template>
