$bottomOffset: 20px;
$lineHeight: 5px;
$lineColor: var(--primary--100);

.menu-wrapper {
  display: flex;
  gap: 3rem;
}

.menu {
  ul {
    list-style: none;
  }
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-grow: 2;
  &-item {
    min-width: 3rem;
  }
}
// Efect menu-item
.menu-item {
  &--link {
    position: relative;
    z-index: 1;
    color: var(--dark, #27272a);
    font: var(--font-menu);
  }
}
.menu-item > a:before {
  position: absolute;
  content: '';
  display: block;
  z-index: -1;
  background: $lineColor;
  width: 0;
  height: $lineHeight;
  top: $bottomOffset;
  left: calc($lineHeight/ -2);
  transition: 0.3s cubic-bezier(0.03, 0.3, 0.4, 0.96);
  transform: skew(-10deg);
}
.menu-item a:hover:before {
  width: calc(100% + $lineHeight);
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
