<fieldset class="flex flex-col gap-4" [formGroup]="parentForm()">
  <div class="flex justify-between">
    <label for="guarantee">{{ 'FORM_LABEL.guarantee' | translate }}</label>
    <label class="switch">
      <input type="checkbox" [formControlName]="'guarantee'" />
      <span class="slider round"></span>
    </label>
  </div>

  <ui-super-select
    [hasError]="hasError()"
    [placeholder]="'SELECT_DATA_LABEL.defaultLabel' | translate"
    [formControlName]="'yearGuarantee'"
    id="yearGuarantee"
    name="yearGuarantee">
    @for (year of dataYearGuarantee(); track year.id) {
      <super-option [value]="year.id"> {{ year.id }} {{ year.keyLang | translate }} </super-option>
    }

    <p errorBody>{{ 'ERRORS_FORM.SELECT_YEARS_GUARANTEE' | translate }}</p>
  </ui-super-select>
</fieldset>
