<h1 class="text-2xl font-semibold">{{ 'sustainableEquipment' | translate }}</h1>
@defer (when form) {
  <form [formGroup]="form" class="shadow-md w-full rounded-lg bg-white p-6">
    <!-- Selección de categorías -->
    <div class="mb-6">
      <h2 class="text-lg font-semibold">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.selectProductsLabel' | translate }}</h2>
      <div class="mt-4">
        <label class="font-medium">{{ vehicles().label }}</label>

        <ng-container formGroupName="vehicles">
          <input id="category" class="invisible absolute h-0" formControlName="mainCategory" type="text" />

          @for (vehicle of vehicles().subcategories; track vehicle.code) {
            <input id="subcategory" class="invisible absolute h-0" formControlName="subCategory" type="text" />

            <div [id]="'vehicles'" name="vehicles">
              @for (product of vehicle.products; track product.code; let index = $index) {
                <div class="flex items-center gap-2">
                  <input
                    name="products"
                    [id]="product.code"
                    type="radio"
                    formControlName="products"
                    [value]="product.code"
                    class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500" />
                  <label for="{{ product.code }}">
                    {{ product.label }}
                  </label>
                </div>
              }
            </div>
          }
        </ng-container>

        <!--    <div class="flex items-center justify-between rounded-lg border border-gray-300 p-3">
          <span class="flex items-center gap-2">
            <go-i-leaves></go-i-leaves>
            <p class="font-medium">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.greenBonus' | translate }}</p>
          </span>
          <go-toggle-switch
            [checked]="form.value.greenBonusVehicle"
            (checkedChange)="toogleGrenBonusVehicle($event)"
            class="ml-2"></go-toggle-switch>
        </div> -->
      </div>

      <div class="mt-4">
        <label class="font-medium">{{ machines().label }}</label>
        <ng-container formGroupName="machines">
          <input id="category" class="invisible absolute h-0" formControlName="mainCategory" type="text" />

          @for (machine of machines().subcategories; track machine.id) {
            <input id="subcategory" class="invisible absolute h-0" formControlName="subCategory" type="text" />

            <div [id]="'machines'" name="machines" class="flex flex-wrap">
              @for (product of machine.products; track product.code; let index = $index) {
                <div class="flex basis-2/5 items-center gap-2">
                  <input
                    name="products"
                    [id]="product.code"
                    type="radio"
                    formControlName="products"
                    [value]="product.code"
                    class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500" />
                  <label for="{{ product.code }}">
                    {{ product.label }}
                  </label>
                </div>
              }
            </div>
          }
        </ng-container>
      </div>
    </div>

    <!-- Company based -->
    <div class="mb-6">
      <h2 class="text-lg font-semibold">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.companyBasedLabel' | translate }}</h2>
      <goeko-select-locations [form]="form" [controlLocations]="locationsArrays" [singleSelect]="true" />
    </div>

    <!-- DOCUMENT REQUIRED-->
    <div class="mb-6">
      <label go-optional-label>{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.documentsRelatedLabel' | translate }}</label>
      <div class="form-group form-check mb-4 space-y-2">
        <ng-container formArrayName="documents">
          @for (document of requiredDocuments(); track document; let index = $index) {
            <label class="flex items-center gap-2" [formGroupName]="index">
              <input type="checkbox" formControlName="checked" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500" />
              {{ document.label | translate }}
            </label>
          }
        </ng-container>
      </div>
    </div>

    <!-- Operations Years -->
    <div class="mb-6">
      <h2 class="label-form">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.yearsOperationsLabel' | translate }}</h2>
      <div class="mb-4">
        <label class="mb-2 block font-medium capitalize">{{ 'years' | translate }}</label>
        <ui-super-select [placeholder]="'years' | translate" formControlName="yearsActivity">
          @for (year of years(); track year.id) {
            <super-option [value]="year.label"> {{ year.label }}</super-option>
          }
        </ui-super-select>
      </div>
    </div>

    <!-- Balance sheet -->
    <div class="mb-6">
      <label class="label-form">
        <input type="checkbox" id="balanceSheet" [checked]="checkedBalanceSheet()" (change)="changeBalanceSheet()" />
        {{ 'FUNDING_SUSTAINABLE_EQUIPMENT.balanveSheetLabel' | translate }}
      </label>
      <div class="mb-4" [ngClass]="{ 'pointer-events-none opacity-50': !this.checkedBalanceSheet() }">
        <label class="mb-2 block font-medium capitalize">{{ 'years' | translate }}</label>

        <ui-super-select [placeholder]="'years' | translate" formControlName="yearsBalance" [disabled]="!this.checkedBalanceSheet()">
          @for (year of years(); track year.id; let first = $first) {
            <super-option [value]="year.label" [valueSelected]="first"> {{ year.label }}</super-option>
          }
        </ui-super-select>
      </div>
    </div>

    <!-- Montant minimum -->
    <div class="mb-4">
      <label class="label-form">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.estimatedAmountLabel' | translate }}</label>
      <div class="flex items-center gap-4">
        <ui-super-select formControlName="minimumQuantity" class="basis-1/2">
          @for (money of amount(); track money.id; let first = $first) {
            <super-option [value]="money.label" [valueSelected]="first"> {{ money.label | number }}</super-option>
          }
        </ui-super-select>
        <ui-super-select formControlName="currencys" [placeholder]="'SELECT_DATA_LABEL.defaultLabelMulti' | translate">
          @for (currency of currencys(); track currency.id) {
            <super-option [value]="currency.label"> {{ currency.label }}</super-option>
          }
        </ui-super-select>
      </div>
    </div>
  </form>
}

<div class="mt-4 flex justify-between">
  <button go-button appearance="white" (click)="goBack()">{{ 'back' | translate }}</button>
  <div class="flex items-center gap-2">
    <button go-button type="submit" (click)="save()">{{ 'save' | translate }}</button>
    <button go-button (click)="goSkip()" appearance="flat">{{ 'skip' | translate }}</button>
  </div>
</div>
