<fieldset class="ecosolutions-fieldset" [formGroup]="parentForm()">
  <legend class="mb-1">{{ 'detail' | translate }}</legend>
  <ng-container formArrayName="nameTranslations">
    <div class="flex flex-col gap-2">
      <label> {{ 'name' | translate }}</label>
      @if (nameTranslations().controls.length > 0) {
        <ng-container [formGroupName]="0">
          <goeko-go-input [formControlName]="'label'"> </goeko-go-input>
        </ng-container>
      }
    </div>
  </ng-container>

  <ng-container formArrayName="descriptionTranslations">
    <div class="flex flex-col gap-2">
      <label id="descriptionTranslations" #descriptionTranslationsTpl>{{ 'shortDescription' | translate }}</label>
      @if (showLanguageSwitcher()) {
        <goeko-language-switcher
          [langs]="switcherLang()"
          (selectedChange)="selectedChangeForDetail($event, descriptionTranslationsTpl.id)"></goeko-language-switcher>
      }
      @for (translation of descriptionTranslations().controls; track $index + '-descriptionTranslations'; let i = $index) {
        <div
          [formGroupName]="i"
          class="relative"
          [ngClass]="{
            hidden: selectedFormLang()[descriptionTranslationsTpl.id] !== translation.value.lang,
          }">
          <goeko-go-textarea [formControlName]="'label'" [maxLength]="100"> </goeko-go-textarea>
        </div>
      }
    </div>
  </ng-container>

  <ng-container formArrayName="detailedDescriptionTranslations">
    <div>
      <label for="detailedDescriptionTranslations" #detailedDescriptionTranslationsTpl id="detailedDescriptionTranslations">
        {{ 'description' | translate }}
      </label>
      @if (showLanguageSwitcher()) {
        <goeko-language-switcher
          class="my-2"
          [langs]="switcherLang()"
          (selectedChange)="selectedChangeForDetail($event, detailedDescriptionTranslationsTpl.id)"></goeko-language-switcher>
      }

      @for (translation of detailedDescriptionTranslations().controls; track $index + 'detailedDescriptionTranslations'; let i = $index) {
        @if (selectedFormLang()[detailedDescriptionTranslationsTpl.id] === translation.value.lang && editors.length > 0) {
          <ngx-editor-menu [editor]="editors[i]" [toolbar]="toolbar" class="relative -top-7 float-right block"> </ngx-editor-menu>
          <div [formGroupName]="i">
            <ngx-editor
              [editor]="editors[i]"
              formControlName="label"
              [class.editor-invalid]="
                translation.get('label')?.invalid && translation.get('label')?.touched && translation.get('label')?.dirty
              "
              [placeholder]="'FORM_LABEL.editorText' | translate"></ngx-editor>

            <goeko-form-error-text [form]="translation.get('label')">
              {{ 'ERRORS_FORM.required' | translate }}
            </goeko-form-error-text>
          </div>
        }
      }
    </div>
  </ng-container>

  <ng-container formArrayName="priceDescriptionTranslations">
    <div class="flex flex-col gap-2">
      <label id="priceDescriptionTranslations" #priceDescriptionTranslationsTpl>{{ 'informationAboutPrice' | translate }}</label>
      @if (showLanguageSwitcher()) {
        <goeko-language-switcher
          [langs]="switcherLang()"
          (selectedChange)="selectedChangeForDetail($event, priceDescriptionTranslationsTpl.id)"></goeko-language-switcher>
      }
      @for (translation of priceDescriptionTranslations().controls; track $index + '-priceDescriptionTranslations'; let i = $index) {
        <div
          [formGroupName]="i"
          class="relative"
          [class.hidden]="selectedFormLang()[priceDescriptionTranslationsTpl.id] !== translation.value.lang">
          <goeko-go-textarea [formControlName]="'label'" [maxLength]="100"> </goeko-go-textarea>
        </div>
      }
    </div>
  </ng-container>

  <section class="mt-4">
    <p class="text-support text-xs">{{ 'selectLanguagesForTranslation' | translate }}</p>

    <go-badge-group>
      @for (lang of languageAvailable(); track lang) {
        <go-badge [value]="lang" (click)="selectedChange(lang)" [selected]="selectedLang.includes(lang.code)">
          <span class="fi fi-{{ lang.iconFlag }}"></span>
          <span>{{ lang.title | translate }}</span>
        </go-badge>
      }
    </go-badge-group>

    <div class="flex flex-col justify-between gap-2">
      <div
        role="button"
        [ngClass]="{
          'cursor-not-allowed text-gray-400 text-opacity-50': selectedLang.length === 0,
          'cursor-pointer text-primary-default': selectedLang.length > 0,
        }"
        class="hover:border-primary-600 hover:text-primary-600 z-10 flex h-12 w-full items-center justify-center rounded-xl border border-primary-default p-4 text-lg transition-colors duration-200 hover:bg-primary-50"
        (click)="makeTranslate()">
        <i class="ti ti-language"></i>

        <span class="flex">{{ 'translate' | translate }}</span>
      </div>
    </div>
  </section>
</fieldset>
