<fieldset class="ecosolutions-fieldset" [formGroup]="parentForm()">
  <legend>{{ 'FORM_LABEL.basicInformation' | translate }}</legend>
  <ng-container formArrayName="nameTranslations">
    <label> {{ 'FORM_LABEL.solutionName' | translate }}</label>

    @for (translation of nameTranslations().controls; track $index + '-name'; let i = $index) {
      <ng-container [formGroupName]="0">
        <div class="relative">
          <goeko-go-input [formControlName]="'label'"> </goeko-go-input>
        </div>
      </ng-container>
    }
  </ng-container>

  <ng-container formArrayName="descriptionTranslations">
    <label id="descriptionTranslations" #descriptionTranslationsTpl>{{ 'FORM_LABEL.solutionDescription' | translate }}</label>
    @if (showLanguageSwitcher()) {
      <goeko-language-switcher
        [langs]="langField()"
        (selectedChange)="selectedChangeForDetail($event, descriptionTranslationsTpl.id)"></goeko-language-switcher>
    }
    @for (translation of descriptionTranslations().controls; track $index + '-descriptionTranslations'; let i = $index) {
      <div
        [formGroupName]="i"
        class="relative"
        [ngClass]="{
          hidden: selectedFormLang()[descriptionTranslationsTpl.id] !== translation.value.lang,
        }">
        <goeko-go-textarea [formControlName]="'label'" [maxLength]="100"> </goeko-go-textarea>
      </div>
    }
  </ng-container>

  <ng-container formArrayName="detailedDescriptionTranslations">
    <div class="wrapper-textarea">
      <label for="detailedDescriptionTranslations" #detailedDescriptionTranslationsTpl id="detailedDescriptionTranslations">
        {{ 'FORM_LABEL.technicalDescription' | translate }}
      </label>
      @if (showLanguageSwitcher()) {
        <goeko-language-switcher
          [langs]="langField()"
          (selectedChange)="selectedChangeForDetail($event, detailedDescriptionTranslationsTpl.id)"></goeko-language-switcher>
      }

      @for (translation of detailedDescriptionTranslations().controls; track $index + 'detailedDescriptionTranslations'; let i = $index) {
        @if (selectedFormLang()[detailedDescriptionTranslationsTpl.id] === translation.value.lang && editors.length > 0) {
          <ngx-editor-menu [editor]="editors[i]" [toolbar]="toolbar" class="block"> </ngx-editor-menu>

          <div [formGroupName]="i">
            <ngx-editor
              [editor]="editors[i]"
              [formControlName]="'label'"
              [class.editor-invalid]="
                translation.get('label')?.invalid && translation.get('label')?.touched && translation.get('label')?.dirty
              "
              [placeholder]="'FORM_LABEL.editorText' | translate"></ngx-editor>

            <goeko-form-error-text [form]="translation.get('label')">
              {{ 'ERRORS_FORM.required' | translate }}
            </goeko-form-error-text>
          </div>
        }
      }
    </div>
  </ng-container>

  <ng-container formArrayName="priceDescriptionTranslations">
    <label id="priceDescriptionTranslations" #priceDescriptionTranslationsTpl>{{ 'FORM_LABEL.infoPrice' | translate }}</label>
    @if (showLanguageSwitcher()) {
      <goeko-language-switcher
        [langs]="langField()"
        (selectedChange)="selectedChangeForDetail($event, priceDescriptionTranslationsTpl.id)"></goeko-language-switcher>
    }
    @for (translation of priceDescriptionTranslations().controls; track $index + '-priceDescriptionTranslations'; let i = $index) {
      <div
        [formGroupName]="i"
        class="relative"
        [class.hidden]="selectedFormLang()[priceDescriptionTranslationsTpl.id] !== translation.value.lang">
        <goeko-go-textarea [formControlName]="'label'" [maxLength]="100"> </goeko-go-textarea>
      </div>
    }
  </ng-container>

  <section>
    <a role="button" class="flex text-sm text-primary-default" (click)="activateTranslate()">{{ 'translate' | translate }}</a>
    <go-badge-group>
      @for (lang of languageAvailable(); track lang) {
        <go-badge [value]="lang" (click)="selectedChange(lang)">
          <span class="fi fi-{{ lang.iconFlag }}"></span>
          <span>{{ lang.title | translate }}</span>
        </go-badge>
      }
    </go-badge-group>
  </section>
</fieldset>
