<fieldset class="ecosolutions-fieldset" [formGroup]="parentForm()">
  <legend class="mb-1">{{ 'detail' | translate }}</legend>
  <ng-container formArrayName="nameTranslations">
    <div class="flex flex-col">
      <label> {{ 'name' | translate }}</label>
      @if (nameTranslations().controls.length > 0) {
        <ng-container [formGroupName]="0">
          <goeko-go-input [formControlName]="'label'"> </goeko-go-input>
        </ng-container>
      }
    </div>
  </ng-container>

  <ng-container formArrayName="descriptionTranslations">
    <div class="flex flex-col">
      <label id="descriptionTranslations" #descriptionTranslationsTpl>{{ 'shortDescription' | translate }}</label>
      @if (showLanguageSwitcher()) {
        <goeko-language-switcher
          [langs]="switcherLang()"
          (selectedChange)="selectedChangeForDetail($event, descriptionTranslationsTpl.id)"></goeko-language-switcher>
      }
      @for (translation of descriptionTranslations().controls; track $index + '-descriptionTranslations'; let i = $index) {
        <div
          [formGroupName]="i"
          class="relative"
          [ngClass]="{
            hidden: selectedFormLang()[descriptionTranslationsTpl.id] !== translation.value.lang,
          }">
          <goeko-go-textarea [formControlName]="'label'" [maxLength]="100"> </goeko-go-textarea>
        </div>
      }
    </div>
  </ng-container>

  <ng-container formArrayName="detailedDescriptionTranslations">
    <div class="wrapper-textarea">
      <label for="detailedDescriptionTranslations" #detailedDescriptionTranslationsTpl id="detailedDescriptionTranslations">
        {{ 'description' | translate }}
      </label>
      @if (showLanguageSwitcher()) {
        <goeko-language-switcher
          [langs]="switcherLang()"
          (selectedChange)="selectedChangeForDetail($event, detailedDescriptionTranslationsTpl.id)"></goeko-language-switcher>
      }

      @for (translation of detailedDescriptionTranslations().controls; track $index + 'detailedDescriptionTranslations'; let i = $index) {
        @if (selectedFormLang()[detailedDescriptionTranslationsTpl.id] === translation.value.lang && editors.length > 0) {
          <ngx-editor-menu [editor]="editors[i]" [toolbar]="toolbar" class="float-right block"> </ngx-editor-menu>
          <div [formGroupName]="i">
            <ngx-editor
              [editor]="editors[i]"
              formControlName="label"
              [class.editor-invalid]="
                translation.get('label')?.invalid && translation.get('label')?.touched && translation.get('label')?.dirty
              "
              [placeholder]="'FORM_LABEL.editorText' | translate"></ngx-editor>

            <goeko-form-error-text [form]="translation.get('label')">
              {{ 'ERRORS_FORM.required' | translate }}
            </goeko-form-error-text>
          </div>
        }
      }
    </div>
  </ng-container>

  <ng-container formArrayName="priceDescriptionTranslations">
    <div class="flex flex-col">
      <label id="priceDescriptionTranslations" #priceDescriptionTranslationsTpl>{{ 'informationAboutPrice' | translate }}</label>
      @if (showLanguageSwitcher()) {
        <goeko-language-switcher
          [langs]="switcherLang()"
          (selectedChange)="selectedChangeForDetail($event, priceDescriptionTranslationsTpl.id)"></goeko-language-switcher>
      }
      @for (translation of priceDescriptionTranslations().controls; track $index + '-priceDescriptionTranslations'; let i = $index) {
        <div
          [formGroupName]="i"
          class="relative"
          [class.hidden]="selectedFormLang()[priceDescriptionTranslationsTpl.id] !== translation.value.lang">
          <goeko-go-textarea [formControlName]="'label'" [maxLength]="100"> </goeko-go-textarea>
        </div>
      }
    </div>
  </ng-container>

  <section>
    <div class="flex flex-col justify-between gap-2">
      <div class="flex justify-between gap-2">
        <a role="button" class="flex text-sm text-primary-default" (click)="makeTranslate()">{{ 'translate' | translate }}</a>
        @if (ecosolutionDetails()) {
          <a role="button" class="flex text-sm text-primary-400" (click)="showTranslations()">{{ 'showTranslations' | translate }}</a>
        }
      </div>
      <p class="text-support text-xs">{{ 'selectLanguagesForTranslation' | translate }}</p>
    </div>

    <go-badge-group>
      @for (lang of languageAvailable(); track lang) {
        <go-badge [value]="lang" (click)="selectedChange(lang)" [selected]="selectedLang.includes(lang.code)">
          <span class="fi fi-{{ lang.iconFlag }}"></span>
          <span>{{ lang.title | translate }}</span>
        </go-badge>
      }
    </go-badge-group>
  </section>
</fieldset>
