<div class="demo-wrapper">
	<section class="section-form">
		<img class="demo-logo" src="assets/logo_footer.png" alt="logo_footer" />

		<ul class="section-elements">
			<li class="elements">
				<span class="material-symbols-rounded"> done </span>
				<p>Company details</p>
			</li>
		</ul>
	</section>

	<section class="content-form">
		<div class="form-wrapper">
			<div class="form-header">
				<span class="material-symbols-rounded"> account_balance </span>
				<h3>Company details</h3>
			</div>

			<div class="form-field form-field--center">
				<go-input [textHelp]="'¿How many employees does your company have?'">
					<p slot="label">Number of employee</p>
				</go-input>
			</div>
		</div>
	</section>
</div>
