.demo-wrapper {
	display: flex;
	height: 100%;
	min-height: 100vh;
}
.section-step {
	display: flex;
	background: #f9fbfc;
	height: 100%;
	width: 19%;
	padding: 2rem 2rem;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}
.section-form {
    display: flex;
    width: 65%;
    align-items: center;
    margin: 0 auto;
}
.content-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 50%;
	height: 94%;
	.demo-header-icon {
		border: 2px solid #0190d6;
		border-radius: 14px;
		width: 4rem;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 35px;
		color: #0190d6;
	}
	h3 {
		font-size: 1.3rem;
		color: #080b17;
	}
}
.demo-logo {
	width: 3.8rem;
	height: 3.4rem;
}
.section-elements {
	list-style: none;
	color: #babcbd;
	padding: 0;
	width: 100%;
	& > .active {
		color: #47525e;
		font-weight: 700;
	}
}
.elements {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	height: 2.7rem;
	transition: all 0.8s ease-in-out;
	border-radius: 3rem;
	width: fit-content;
	padding: 1rem;
	&--active {
		color: #537cd0;
		background: #ebefff;
		font-size: 18px;
		font-weight: bold;
	}
}
.form-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
.form-header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-field {
	width: 78%;
	&--center {
		margin: 0 auto;
	}
}

.demo-summary {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	.elements {
		height: auto;
		flex-direction: column;
		border: 2px solid #EBEFFF;
		border-radius: 8px;
		margin: 0.7rem;
		width: 100%;
	}
}
.summary-section-header {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #537CD0;
	h2 {
		padding: 0;
		margin: 0;
	}
	h1 {
		font-size: 1.3rem;
		color: #080b17;
	}
}
.summary-section-body {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 5rem;
	.form-field {
		width: fit-content;
		h4 {
			margin-bottom: 0;
		}
		p {
			color: #080b17;
			margin: 0;
		}
	}
}

.goeko-go {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: block;
	background-image: url('/assets/logo.png');
	background-size: 38px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

}
.button-submit {
	width: 122px;
    display: block;
}
.form-actions {
	display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}