<nav class="menu-user">
  <img alt="user-logo" src="assets/logo.png" #logo class="user-logo cursor-pointer" routerLink="/"/>

  <ul class="menu-user-options">
    @for ( item of menuOptions; track item.id) {

    <ng-container *goShowForRoles="item.userRoles">
      <li
        *goShowUserType="item.userType"
        [id]="item.id"
        (click)="goTo(item.url)"
        [routerLink]="item.url"
        [routerLinkActive]="['active']"
      >
        <i class="ti ti-{{ item.icon }}"></i>
        <p class="menu-user-title">{{ item.title | translate }}</p>
      </li>
    </ng-container>

    }
  </ul>

  <div class="user-actions">
    <div class="user-logout" (click)="logout()">
      <i class="ti ti-logout-2"></i>
      <p class="user-logout-title"> {{'logout' | translate}}</p>
    </div>
    
  </div>
</nav>
