<nav class="menu-user">
  <img alt="user-logo" src="assets/logo.png" #logo class="user-logo" />

  <ul class="menu-user-options">
    @for ( item of menuOptions; track item.id) {

    <li
      *goShowForRoles="item.roles"
      [id]="item.id"
      (click)="goTo(item.url)"
      [routerLink]="item.url"
      [routerLinkActive]="['active']"
    >
      <i class="ti ti-{{ item.icon }}"></i>
      <p class="menu-user-title">{{ item.title | translate }}</p>
    </li>

    }
  </ul>

  <div class="user-actions">
    <i class="ti ti-logout-2" (click)="logout()"></i>
  </div>
</nav>
