<goeko-header *ngIf="isHome"> </goeko-header>

@if (isAuthenticated$ | async; as isAuthenticated) {
<goeko-menu-user></goeko-menu-user>
<div class="container" [class.is-platform]="isAuthenticated">
  <goeko-header-user>
    <go-breadcrumbs></go-breadcrumbs>
  </goeko-header-user>
  <router-outlet></router-outlet>
</div>
} @else {
<div class="container">
  <router-outlet></router-outlet>
</div>
}

<footer>
  <goeko-footer></goeko-footer>
</footer>
<go-popup
  *ngIf="showPopupCookies"
  [title]="'LEGAL.cookiesPolicy' | translate"
  [textMainButton]="'accept' | translate"
  [textSecondaryButton]="'decline' | translate"
  (onClickOK)="acceptCookie()"
>
  <i class="ti ti-cookie" icon></i>
  <p description>
    {{ 'LEGAL.cookiesNotice' | translate }}.
    <a [routerLink]="'/home/cookies-policy'">
      {{ 'LEGAL.cookiesPolicy' | translate }}</a
    >
  </p>
</go-popup>
<goeko-side-dialog></goeko-side-dialog>
