.container {
    display: flex;
    width: var(--center-container);
    margin: 0 auto;
    min-height: 100rem;
    
}
.container-demo {
    display: block;
    height: 100%;
}
footer {
    width: 100%;
}