.container {
	display: flex;
	width: var(--center-container);
	margin: 0 auto;
	min-height: 100rem;
}
.container-demo {
	display: block;
	height: 100%;
}
footer {
	width: 100%;
}
go-popup {
	a {
		text-decoration: underline;
		color: #00527d;
	}
}
.is-platform {
	margin: 0;
	padding-left: 6rem;
	padding-top: 1.8rem;
	flex-direction: column;
	width: 94%;
}
