<goeko-header *ngIf="isHome"> </goeko-header>

<div class="container">
	<router-outlet></router-outlet>
</div>
<footer>
	<goeko-footer></goeko-footer>
</footer>
<go-popup
	*ngIf="showPopupCookies"
	[title]="'LEGAL.cookiesPolicy' | translate"
	[text-main-button]="'accept' | translate"
	[text-secondary-button]="'decline' | translate"
	(onClickOK)="acceptCookie()"
>
	<i class="ti ti-cookie" icon></i>
	<p description>
		{{ 'LEGAL.cookiesNotice' | translate }}.
		<a [routerLink]="'/home/cookies-policy'"> {{ 'LEGAL.cookiesPolicy' | translate }}</a>
	</p>
</go-popup>
