<router-outlet></router-outlet>
  <goeko-side-dialog></goeko-side-dialog>
  <goeko-dialog-message></goeko-dialog-message>
  <goeko-toast></goeko-toast>
@defer ( when showPopupCookies) {
<go-popup [title]="'LEGAL.cookiesPolicy' | translate" [textMainButton]="'accept' | translate"
  [textSecondaryButton]="'decline' | translate" (onClickOK)="acceptCookie()">
  <i class="ti ti-cookie" icon></i>
  <p description>
    {{ 'LEGAL.cookiesNotice' | translate }}
    <a [routerLink]="'/home/cookies-policy'">
      {{ 'LEGAL.cookiesPolicy' | translate }}</a>
  </p>
</go-popup>
}
