<div class="bg-primary-gray">
  @defer (when form) {
    <form [formGroup]="form" class="m-auto w-full max-w-3xl rounded-sm p-8">
      <!--Select Products-->
      <goeko-ecosolutions-form-ecosolution-type
        class="section-form"
        [groupingForm]="groupingForm()"
        [ecosolutionsClassifications]="ecosolutionData()?.classifications"
        [parentForm]="form"
        [categoryCode]="categoryCode()"></goeko-ecosolutions-form-ecosolution-type>

      <goeko-ecosolutions-form-benefis
        class="section-form"
        [parentForm]="form"
        [ecosolutionsBenefits]="ecosolutionData()"
        [categoryCode]="categoryCode()"></goeko-ecosolutions-form-benefis>

      <goeko-ecosolutions-form-details
        class="section-form"
        [ecosolutionDetails]="ecosolutionData()"
        [parentForm]="form"></goeko-ecosolutions-form-details>

      <goeko-ecosolutions-form-image
        class="section-form"
        [parentForm]="form"
        [ecosolutionImages]="ecosolutionData()?.pictures"
        (ecosolutionsImg)="uploadEcosolutionsImg($event)"></goeko-ecosolutions-form-image>
      <goeko-ecosolutions-form-country-available
        class="section-form"
        [parentForm]="form"
        [ecosolutionLocation]="ecosolutionData()?.locations"></goeko-ecosolutions-form-country-available>
      <ng-container *ngTemplateOutlet="sdg"></ng-container>
      <goeko-ecosolutions-form-payback
        class="section-form"
        [parentForm]="form"
        [ecosolutionsPayback]="ecosolutionData()?.paybackPeriodYears"></goeko-ecosolutions-form-payback>
      <goeko-ecosolutions-form-warranty
        class="section-form"
        [parentForm]="form"
        [ecosolutionsData]="ecosolutionData()"></goeko-ecosolutions-form-warranty>
      <goeko-ecosolutions-form-documents
        class="section-form"
        [ecosolutionData]="ecosolutionData()"
        [parentForm]="form"></goeko-ecosolutions-form-documents>
      <goeko-form-error-text [form]="form">
        {{ 'ERRORS_FORM.haveError' | translate }}
      </goeko-form-error-text>
      <div class="actions-button">
        <button go-button appearance="white" type="button" (click)="goToListEcosolution()">
          {{ 'back' | translate }}
        </button>

        <button go-button type="submit" (click)="id() ? editEcosolution() : saveEcosolution()">
          {{ 'saveYou' | translate }} éco-solution
        </button>
      </div>
    </form>
  }
</div>

<ng-template #sdg>
  <fieldset class="section-form" [formGroup]="form">
    <div class="legend--info">
      <legend>
        {{ 'FORM_LABEL.ecosolutions_sustainableDevelopmentGoals' | translate }}
      </legend>
      <p class="text-support">
        {{ 'TEXT_SUPPORT.ods' | translate }}
      </p>
    </div>
    <goeko-sdg-icons [formControlName]="'sustainableDevelopmentGoals'"></goeko-sdg-icons>
  </fieldset>
</ng-template>
