.document-legal {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 48%;
    margin: 0 auto;
    line-height: 2.2;
    color: #24253B;
     &-title {
        font-size: calc(33px + 0.5vw);
     }
}


@media screen and (width < 1280px) {
   .document-legal {
      width: 80%;
   }
 }

//Mobile
@media screen and (width < 800px) {
   .document-legal {
      width: 90%;
   }

 }