.document-legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 50%;
    margin: 0 auto;
    line-height: 2.2;
    color: #24253B;
     h1 {
        font-size: 44px;
     }
}