.detail-heading {
	display: flex;
	padding: 2rem;
	justify-content: space-evenly;
	align-items: center;
	flex-flow: wrap;
	border-radius: 1rem;
	background: linear-gradient(
		271deg,
		rgba(124, 213, 253, 0.16) 11.93%,
		rgba(255, 255, 255, 0) 20.89%,
		rgba(185, 231, 254, 0.58) 44.06%,
		rgba(185, 231, 254, 0.22) 71.37%
	);
}
.detail-main-info {
	width: 74%;
}
.detail-logo {
	width: 22%;
	height: 10rem;
	aspect-ratio: 4/3;
	border-radius: 50%;
	object-fit: contain;
	background-color: var(--white);
}

.detail-actions {
	display: flex;
	gap: 1rem;
	position: relative;
	top: -1.2rem;
	padding: 0 5.4rem;
}
.detail-feature {
	padding: 3rem 5.4rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}
.details-section {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.details-article {
	border-radius: 0.75rem;
	background: #fff;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem 1.5rem;
	flex-wrap: wrap;

	&--advantages {
		flex-direction: row;
	}
}

@media (width <= 768px) {
	.detail-heading {
		gap: 1rem;
	}
	.detail-logo {
		width: 100%;
		border-radius: 0.5rem;
	}
	.detail-actions {
		top: 0;
		position: relative;
		padding: 2rem 0;
	}
	.detail-feature {
		padding: 0;
	}
}
