.goeko-header {
  background-color: #ffffff;
position: sticky;
  top: 0;
  display: block;
  z-index: 10;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 10rem;
  transition: 0.2s all ease-in-out;
  gap: 4rem;
  &-wrapper {
    display: flex;
    align-items: center;
    height: 6rem;
    gap: 1rem;
  }
  &-slogan {
    color: var(--dark-accent, #163953);
    text-shadow: 3px 3px 20px var(--primary--200),
      -2px 1px 30px var(--primary--main);
  }
  &-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    bottom: -20px;
    position: relative;
  }
  &-actions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}

.header-wrapper > img {
  width: 30%;
  transition: 0.4s ease-in-out;
  min-width: 78px;
}

.contact-us {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;

  color: var(--color-text-light);
}
@media (max-width: 768px) {
  .header-slogan {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
}
