.goeko-header {
 // background-color: var(--home-page-dark-blue);
  background-color:transparent;

  position: sticky;
  top: 0;
  display: block;
  z-index: 10;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 10rem;
  transition: 0.2s all ease-in-out;
  gap: 4rem;
  &-wrapper {
    display: flex;
    align-items: center;
    height: 6rem;
    gap: 1rem;
  }
  &-slogan {
    color: var(--dark-accent, #163953);
    text-shadow: 3px 3px 20px var(--primary--200),
      -2px 1px 30px var(--primary--main);
  }
  &-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    bottom: -20px;
    position: relative;
  }
  &-actions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}

.header-wrapper > img {
  width: 30%;
  transition: 0.4s ease-in-out;
  min-width: 78px;
}

.contact-us {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;

  color: var(--color-text-light);
}
@media (max-width: 768px) {
  .header-slogan {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
}

.request-button {
  align-items: center;
  appearance: none;
  background-color: var(--home-page-light-blue);
  border-radius: 1.675rem;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  font: var(--font-menu);
  height: 2.625rem;
  line-height: 1.25rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  gap: 0.5rem;
  max-width: max-content;
  text-wrap: pretty;
  width: 100%;
}

.request-button:hover {
  background-color: #0C689C;
}

.request-button:active {
  background-color: #032D45;
}


.login-button {
  background-color: var(--white);
  color: var(--home-page-light-blue);
  border: 2px solid var(--home-page-light-blue);
  align-items: center;
  appearance: none;
  border-radius: 1.675rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font: var(--font-menu);
  height: 2.625rem;
  line-height: 1.25rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  gap: 0.5rem;
  max-width: max-content;
  text-wrap: pretty;
  width: 100%;
}

.login-button:hover {
  background-color: #E4F4FC;
}

.login-button:active {
  color: #0C689C;
  border: 2px solid #0C689C;
}

goeko-menu a:hover {
  background-color: #E4F4FC;
  color: var(--home-page-light-blue);
  align-items: center;
  appearance: none;
  border-radius: 1.675rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font: var(--font-menu);
  height: 2.625rem;
  line-height: 1.25rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  gap: 0.5rem;
  max-width: max-content;
  text-wrap: pretty;
  width: 100%;
}

goeko-menu a:active {
  color: #0C689C;
}

goeko-menu a {
  padding: 0.5rem 1rem;
  font: var(--font-menu);
}

goeko-menu button {
  padding: 0.5rem 1rem;
  font: var(--font-menu);
}

goeko-menu button:hover {
  background-color: #E4F4FC;
  color: var(--home-page-light-blue);
  align-items: center;
  appearance: none;
  border-radius: 1.675rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font: var(--font-menu);
  height: 2.625rem;
  line-height: 1.25rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  gap: 0.5rem;
  max-width: max-content;
  text-wrap: pretty;
  width: 100%;
}

goeko-menu button:active {
  color: #0C689C;
}
