<header class="header" #header>
  <div class="header-wrapper">
    <img
      alt="logo-main"
      src="../../../assets/logo.png"
      #logo
      [routerLink]="['/']"
      class="link"
    />

    <h4 class="header-slogan">{{ 'sloganGoeko' | translate }}</h4>
  </div>
  <goeko-menu></goeko-menu>
  <div class="header-actions">
    <button go-button [routerLink]="'../login'">
      {{ 'MENU.login' | translate }}
    </button>
    <goeko-select-i18n
      [langs]="langs"
      (onSelect)="onChangeLangs($event)"
      [defaultLang]="defaultLang"
    >
    </goeko-select-i18n>
  </div>
</header>
