<div class="dashboard-option">
  <div class="container p-10">
    <div class="flex min-h-96 w-full max-w-sm flex-col items-center justify-center rounded-lg p-12 shadow-lg shadow-gray-300 dark:bg-white">
      <h5 class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-700">{{ 'MENU_USER_BANK.titleCard' | translate }}</h5>

      <p class="mb-7 text-center font-normal text-gray-700">{{ 'MENU_USER_BANK.subtitleCard' | translate }}</p>
      <img src="assets/Group 65.svg" class="mb-11" />
      <button type="button" go-button appearance="primary" routerLink="./fundings">
        {{ 'MENU_USER_BANK.buttonSearch' | translate }}
      </button>
    </div>
  </div>
</div>

{{ susteinbleEquipment() | json }}
