<div class="analysis-wrapper" [formGroup]="form">
	<section class="section-step">
		<!-- 		<img class="demo-logo go-link" src="assets/logo_footer.png" alt="logo_footer" [routerLink]="'/'" />
 -->
		<ul class="section-elements">
			<ng-container *ngFor="let element of formField; let index = index; let first = first; last as isLast">
				<li
					*ngIf="!isLast"
					(click)="addFormGroup(index)"
					class="elements"
					[class.elements--active]="index === slideSelected"
				>
					<span class="material-symbols-rounded elements-icon"> {{ element.icon }} </span>
					<p class="elements-title">{{ element.keyLang | translate }}</p>
				</li>
			</ng-container>
		</ul>
	</section>
	<section class="section-form" [class.section-form-demo]="isSummarySlide()">
		<go-carousel
			(valueChangeButton)="addFormGroup($event.index)"
			[hiddenButtonNext]="isSummarySlide()"
			[selectedSlideIndex]="slideSelected"
		>
			<ng-container *ngFor="let element of formField; last as isLast">
				<section *goSlide class="content-form go-scroll" [class.content-form-demo]="isLast">
					<ng-container *ngIf="!isLast; else summary">
						<!--FORM ACTORS-->
						<div class="form-wrapper" [formGroupName]="element.controlName">
							<div class="form-header">
								<span class="material-symbols-rounded demo-header-icon"> {{ element.icon }} </span>
								<h3>{{ element.keyLang | translate }}</h3>
							</div>

							<div class="form-field form-field--center" *ngFor="let field of element.fields">
								<!-- FIELD FORM -->

								<ng-container *ngIf="!field.hidden">
									<ng-container [ngSwitch]="field.type">
										<!-- INPUT boolean -->
										<ng-container *ngSwitchCase="'boolean'">
											<div class="field-form-checked">
												<label>{{ field.label | translate }}</label>
												<label class="switch">
													<input
														type="checkbox"
														[formControlName]="field.controlName"
														[value]="
															this.form.value[element.controlName][field.controlName]
																? 'YES'
																: 'NO'
														"
													/>
													<span class="slider round"></span>
												</label>
											</div>
										</ng-container>
										<!-- INPUT NUMBER -->
										<ng-container *ngSwitchCase="'number'">
											<go-input
												[textHelp]="field.textHelp"
												[formControlName]="field.controlName"
												type="number"
											>
												<p slot="label">{{ field.label | translate }}</p>
											</go-input>
										</ng-container>
										<!-- INPUT SELECT -->

										<ng-container *ngSwitchCase="'select'">
											<label for="{{ field.controlName }}">{{ field.label | translate }}</label>

											<ui-super-select
												[placeholder]="'SELECT_DATA_LABEL.defaultLabel' | translate"
												[formControlName]="field.controlName"
												[id]="field.controlName"
												[name]="field.controlName"
											>
												<super-option
													*ngFor="let option of dataSelect[field.controlName]"
													[value]="option.keyLang | translate"
												>
													{{ option.keyLang | translate }}
												</super-option>
											</ui-super-select>
										</ng-container>

										<!-- INPUT SELECT-MULTIPLE-->

										<ng-container *ngSwitchCase="'select-multiple'">
											<label for="{{ field.controlName }}">{{ field.label | translate }}</label>

											<ui-super-select
												[placeholder]="'SELECT_DATA_LABEL.defaultLabel' | translate"
												[multiple]="true"
												[formControlName]="field.controlName"
												[id]="field.controlName"
												[name]="field.controlName"
												[compareWith]="defaultSetSuperSelect"
											>
												<super-option
													*ngFor="let option of dataSelect[field.controlName]"
													[value]="option"
												>
													{{ option.keyLang | translate }}
												</super-option>
											</ui-super-select>
										</ng-container>

										<!-- Question card-->
										<ng-container *ngSwitchCase="'question'">
											<label for="{{ field.controlName }}">{{ field.label | translate }}</label>
											<select
												multiple
												[formControlName]="field.controlName"
												[id]="field.controlName"
												[name]="field.controlName"
											>
												<option value="">
													--{{ 'SELECT_DATA_LABEL.defaultLabel' | translate }}--
												</option>
												<option
													*ngFor="let option of dataSelect[field.controlName]"
													[value]="option.keyLang | translate"
												>
													{{ option.keyLang | translate }}
												</option>
											</select>
										</ng-container>
										<!-- INPUT TEXT -->

										<ng-container *ngSwitchDefault>
											<go-input [textHelp]="field.textHelp" [formControlName]="field.controlName">
												<p slot="label">{{ field.label | translate }}</p>
											</go-input>
										</ng-container>
									</ng-container>
								</ng-container>
							</div>
						</div>
					</ng-container>

					<!--SUMMARY-->
					<ng-template #summary>
						<goeko-sme-analysis-summary
							[formField]="formField"
							[element]="element"
							[form]="form"
							[index]=""
						></goeko-sme-analysis-summary>
					</ng-template>
				</section>
			</ng-container>
		</go-carousel>
		<div class="form-actions">
			<button type="button" go-button appearance="white">{{ 'cancel' | translate }}</button>
			<button type="button" go-button appearance="white" *ngIf="isSummarySlide()" (click)="saveAnalysis()">
				{{ 'save' | translate }}
			</button>
			<button type="button" go-button appearance="white" (click)="gotToSummary()" *ngIf="!isSummarySlide()">
				{{ 'summary' | translate }}
			</button>
			<go-goeko-button class="button-submit" (click)="getResults()">
				<span class="goeko-go" btn-logo></span>
				Eco-solutions</go-goeko-button
			>
		</div>
	</section>
</div>
<ng-template #question let-field="field">
	<label for="{{ field.controlName }}">{{ field.label | translate }}</label>
	<select multiple [formControlName]="field.controlName" [id]="field.controlName" [name]="field.controlName">
		<option value="">--{{ 'SELECT_DATA_LABEL.defaultLabel' | translate }}--</option>
		<option *ngFor="let option of dataSelect[field.controlName]" [value]="option.title">
			{{ option.title }}
		</option>
	</select>
</ng-template>
