.demo-container {
	width: 100%;
}

.analysis-wrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;

	.section-step {
		display: flex;
		width: 100%;
		padding: 1rem;
		align-items: center;
		gap: 2rem;
		text-align: center;
	}
	.section-elements {
		list-style: none;
		color: #babcbd;
		padding: 0;
		width: 100%;
		display: flex;
		& > .active {
			color: #47525e;
			font-weight: 700;
		}
	}
}

.analysis-wrapper .section-form {
	background: #edf1f2;
	display: flex;
	align-items: center;
	margin: 0 auto;
	position: relative;
	border-radius: 28px;
	flex-grow: 2;
	flex-shrink: 2;
	padding: 1rem;
}
.analysis-wrapper .section-form-demo {
	background: transparent;
}
.analysis-wrapper .content-form {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 1rem;
	overflow-y: scroll;
	.demo-header-icon {
		border: 2px solid #0190d6;
		border-radius: 14px;
		width: 4rem;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 35px;
		color: #0190d6;
	}
	&-demo {
		width: 94%;
	}

	h3 {
		font-size: 1.3rem;
		color: #080b17;
	}
}
.demo-logo {
	width: 3.8rem;
	height: 3.4rem;
}

.analysis-wrapper .elements {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 4.3rem;
	width: 100%;
	transition: all 0.2s ease-in-out;
	border-radius: 14px;
	padding: 1rem;
	margin: 1rem 0;
	justify-content: center;
	cursor: pointer;
	&--active {
		color: #537cd0;
		background: #ebefff;
		font-size: 18px;
		font-weight: bold;
	}
	&-icon {
		color: #0090d6;
		font-size: 1.5rem;
	}
	&-title {
		font-size: 1rem;
	}
	&:hover {
		filter: drop-shadow(1px 1px 9px #0090d6);
		color: #080b17e0;
	}
}

.form-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
.form-header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-field {
	width: 78%;
	&--center {
		margin: 0 auto;
	}
}

.goeko-go {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: block;
	background-image: url('/assets/logo.png');
	background-size: 38px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.button-submit {
	width: 184px;
	display: block;
}
.analysis-wrapper .form-actions {
	display: flex;
	justify-content: center;
	margin: 2rem 0;
	position: absolute;
	margin: 0 auto;
	gap: 2rem;
	left: 0;
	right: 0;
	bottom: -9%;
}

.field-form-checked {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.line-connected {
	position: absolute;
	width: 20%;
	transform: rotate(90deg);
	top: 5rem;
	border-style: dotted;
	border-top-width: 7px;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-color: #1790d65e;
}

.bkg-style1 {
	background-image: url(https://w0.peakpx.com/wallpaper/907/526/HD-wallpaper-dark-background-with-green-leaves-nature-background-floral-background-ecology-leaves-background.jpg);
	color: #ffff;
	background-size: cover;
	go-carousel {
		background: rgba(255, 255, 255, 0.25);
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		height: 87%;
		border: 1.5px solid rgba(209, 213, 219, 0.3);
		border-radius: 1rem;
	}
}

ui-super-select {
	min-width: 450px;
}
.demo-container label {
	color: #2b2b2b;
	font-weight: 500;
}
