<div class="analysis-wrapper" [formGroup]="form">
  <section class="section-step">
    <!-- CATEGORY -->
    @for (category of categories(); track category.id) {
    <goeko-category
      id="{{ category.id }}"
      [selected]="category.id === categorySelected().id"
      (click)="selectCategory(category)"
      [icon]="'assets/category/' + category.icon + '.svg'"
    >
      <p title>{{ category.keyLang | translate }}</p>
    </goeko-category>
    }
  </section>
  <section class="section-form">
    @defer (when form && form.get(dataCategorySelected().code)) {

    <go-carousel [selectedSlideIndex]="slideSelected() || 0">
      @for (category of categories(); track category.id; let index = $index) {
      <section
        *goSlide
        class="content-form go-scroll"
        formGroupName="{{ this.dataCategorySelected().code }}"
      >
        <div class="title-category" title>
          <i class="ti ti-info-circle-filled"></i>
          <h3>{{ 'SELECT_DATA_LABEL.defaultLabel' | translate }}</h3>
        </div>
        @for (subcategory of dataCategorySelected().subcategories; track
        subcategory.code) {
        @if(form.get(dataCategorySelected().code)?.get(subcategory.code)) {
        <!--FORM ACTORS-->
        <div class="form-field form-field--center" [@fadeAnimation]>
          <!-- PRODUCTS (disabled = false)-->

          <goeko-select-subcategory-product
            [id]="subcategory.code"
            [subCategory]="subcategory"
            [typeTitle]="'question'"
            [multiple]="true"
            [checked]="
              !!form.value[this.dataCategorySelected().code][subcategory.code]
            "
          >
            <go-badge-group
              [formControlName]="subcategory.code"
              [id]="subcategory.code"
              [name]="subcategory.code"
            >
              @for (product of subcategory.products; track product.code) {
              @if(!product.disabled) {

              <go-badge [value]="product">{{
                product.label | translate
              }}</go-badge>
              } }
            </go-badge-group>
          </goeko-select-subcategory-product>
        </div>
        } }
      </section>
      }
    </go-carousel>
    }
    <p>{{ dateLastRecomendation | date : 'short' }}</p>
  </section>
  <div class="form-actions">
    <button type="button" go-button appearance="white">
      {{ 'cancel' | translate }}
    </button>
    <div class="form-actions-submit">
      <!-- 			<button type="button" go-button appearance="white" *ngIf="isSummarySlide()" (click)="saveAnalysis()">
				{{ 'save' | translate }}
			</button> -->
      <button
        type="button"
        go-button
        appearance="white"
        (click)="gotToSummary()"
      >
        {{ 'summary' | translate }}
      </button>
      <go-goeko-button class="button-submit" (click)="getResults()">
        <span class="goeko-go" btn-logo></span>
        Eco-solutions</go-goeko-button
      >
    </div>
  </div>
</div>
<ng-template #question let-field="field">
  <label for="{{ field.controlName }}">{{ field.question | translate }}</label>
  <select
    multiple
    [formControlName]="field.controlName"
    [id]="field.controlName"
    [name]="field.controlName"
  >
    <option value="">
      --{{ 'SELECT_DATA_LABEL.defaultLabel' | translate }}--
    </option>
    <option
      *ngFor="let option of dataSelect[field.controlName]"
      [value]="option.title"
    >
      {{ option.title }}
    </option>
  </select>
</ng-template>
