.content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  // width: 48%;

  //Ajust this
  width: 100%;
  @apply px-6 lg:px-12;
  ///
  margin: 0 auto;
  line-height: 2.2;
  color: #24253b;
  &-title {
    font-size: calc(33px + 0.5vw);
  }
}
