.scene-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 7px solid rgba(0, 0, 0, 0.02);
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.08), inset -1px 0px 2px rgba(0, 0, 0, 0.1), inset 5px -5px 12px rgba(0, 0, 0, 0.05), inset -5px 5px 12px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(75px);
    border-radius: 22px;
    width: 100%;
    height: 40rem;
    width: 38rem;
}

.canvas {
    width: 50rem;
    height: 49rem;
    position: relative;
    top: 4rem;
    
}
.goeko_system {
    font-family: 'Material Symbols Rounded';
    font-size: 1rem;
    line-height: 3;
}
.who_are_you {
    
    font-size: 1.3rem;
    font-weight: 100;
    font-family: 'Inter-Thin';
    margin: 0;
    position: relative;
    top: 3rem;
}

h3:before {
    content: "";
    background: #7FDBFF;
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    transform: scaleX(0);
    animation: 1.4s forwards no-hover-v linear;
    animation-fill-mode: forwards;
    z-index: -1;
  }
  h3:hover:before,
  h3:focus:before {
    animation: .5s forwards hover-v linear;
    animation-fill-mode: forwards;
  }
  @keyframes hover-v {
    0% {
        transform: scaleX(0);
        height: 5px;
       }
    45% {   
        transform: scaleX(1.05);
        height: 5px;
       }
    55% {height: 5px;}
    100% {
        transform: scaleX(1.05);
        height: 3.8rem;
       }
  }
  @keyframes no-hover-v {
    0% {
        transform: scaleX(1.05);
        height: 3.8rem;
       }
    45% {height: 5px;}
    55% {   
        transform: scaleX(1.05);
        height: 5px;
        opacity: 1;
       }
    
    100% {
        transform: scaleX(0);
        height: 5px;
        opacity: .02;
       }
  }