<!-- <input type="number" (change)="changeRotationX($event)">
<input type="number" (change)="changeRotationY($event)">
<input type="number" (change)="changeRotationZ($event)">
 -->
<!--  x{{x.value}}
<input type="range" #x (input)="changePosotionX($event.target)" step="0.0001" max="1" >
y{{y.value}}
<input type="range"  #y (input)="changePosotionY($event.target)" step="0.0001" max="1">
z{{z.value}}
<input type="range" #z (input)="changePosotionZ($event.target)" step="0.0001" max="1">  -->

<canvas #canvas id="canvas"></canvas>
