<!-- <input type="number" step="0.1" (focusout)="getFocusElements()" (change)="changeRotationX($event)" [value]="this._sphereSme?.rawMesh?.rotation.x">
<input type="number" step="0.1" (change)="changeRotationY($event)" [value]="this._sphereSme?.rawMesh?.rotation.y">
<input type="number"  step="0.1"  (change)="changeRotationZ($event)" [value]="this._sphereSme?.rawMesh?.rotation.z">
 --> 
<!--  x{{x.value}}
<input type="range" #x (input)="changePosotionX($event.target)" step="0.0001" max="1" >
y{{y.value}}
<input type="range"  #y (input)="changePosotionY($event.target)" step="0.0001" max="1">
z{{z.value}}
<input type="range" #z (input)="changePosotionZ($event.target)" step="0.0001" max="1">  -->

<input type="color"  style="z-index: 10; position: relative;" (change)="changeColor($any($event.target).value)">

<canvas #canvas id="canvas" class="canvas"></canvas>
