<div class="flex flex-col gap-8">
  <div class="flex w-6/12 gap-8 divide-x">
    <div class="flex-grow px-4 py-2 font-semibold leading-8 max-w-60">
      <span class="text-5xl">{{sustainableEquipmentLeads() }}</span>
      <p class="text-grayCharcoal text-lg">


        {{ sustainableEquipmentLeads() > 1 ? ('sustainable_equipment_leads' | translate) :
        ('sustainable_equipment_lead'
        |
        translate) }}</p>
      <goeko-chip>
        {{'sustainableEquipment' | translate}}
      </goeko-chip>
    </div>
    <div class="flex-grow px-6 py-2 font-semibold leading-8 max-w-64">
      <span class="text-5xl">{{ realEstateLeads() }}</span>
      <p class="text-lg text-grayCharcoal">{{ 'real_estate_loan_leads' | translate }}</p>
      <goeko-chip>
        {{'realStateLoan' | translate}}
      </goeko-chip>
    </div>
  </div>
</div>

@defer( when (leads() || []).length > 0) {
<div class="relative flex flex-col  rounded-lg border border-slate-200 bg-white shadow-sm">
  <nav class="flex flex-grow  flex-col gap-1 p-1.5 m-4">
    @for (lead of leads(); track $index) {
    <div role="button" (click)="selectLead(lead)"
      class="text-slate-800 flex w-full items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100">
      <goeko-avatar [src]="lead?.sme?.name || ''"></goeko-avatar>
      <div>
        <div class="flex gap-2 items-center flex-wrap">
          <h6 class="text-slate-800 font-medium">
            {{lead.sme.name}}
          </h6>
          <goeko-chip size="xs">
            {{lead.financingType | translate}}
          </goeko-chip>
        </div>
        <p
          class="line-clamp-1 text-xs group-[.is-unread]/chatitem:font-medium group-[.is-unread]/chatitem:text-slate-600 text-slate-400 w-[calc(100%-theme(spacing.10))]">
          {{lead.message}}
        </p>
      </div>
    </div>

    }
  </nav>
  <button go-button appearance="flat" class="self-center" (click)="showMore()">
    {{ 'showMore' | translate }}
  </button>


</div>
}
