<div class="flex justify-between">
  <h1 class="title-page">{{ 'REQUESTS_ONBOARDING.titlePage' | translate }}</h1>
  <button
    go-button
    [routerLink]="[
      'request-onboarding-form',
      {
        queryParamsHandling: 'preserve',
      },
    ]">
    {{ 'REQUESTS_ONBOARDING.addCleantechSolution' | translate }}
  </button>
</div>

<goeko-switcher-operation class="mx-auto w-max p-8" (onSelectOperation)="onSelectOperation($event)">
  <ng-template goekoOperation="my-ideas">{{ 'REQUESTS_ONBOARDING.myIdeas' | translate }}</ng-template>
  <ng-template goekoOperation="company-ideas">{{ 'REQUESTS_ONBOARDING.myCompany' | translate }}</ng-template>
</goeko-switcher-operation>
<router-outlet></router-outlet>
