<h1 class="text-2xl font-bold">{{ 'RESET_PASSWORD.msgResetPassword' | translate }}</h1>

<form [formGroup]="formResetPassword" class="flex flex-col gap-4" #form="ngForm" (ngSubmit)="resetPassword()">
  @if (!form.submitted) {
  <p class="text-gray-500">
    {{ 'RESET_PASSWORD.msgResetPassword2' | translate }}
  </p>
  <go-input [formControlName]="'email'" id="email" type="email" autocomplete="username" name="email">
    <p slot="label">{{ 'FORM_LABEL.email' | translate }}</p>
  </go-input>

  <button type="submit" go-button appearance="primary">
    {{ 'RESET_PASSWORD.sendEmail' | translate }}
  </button>

  <a [routerLink]="['/login']"> {{ 'LOGIN.msglogin' | translate }} </a>
  } @else {
  <p class="text-primary-900">
    {{ 'RESET_PASSWORD.msgSuccessResetPassword' | translate: { email: formResetPassword.value.email } }}
  </p>
  <button [routerLink]="'/login'" go-button appearance="primary">
    {{ 'MENU.login' | translate }}
  </button>
  }
</form>