.our-team {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	margin: 2rem 0;

	&-subtitle {
		color: #455065;
		font-weight: 300;
		font-size: 14px;
		width: 70%;
		text-align: center;
	}
	&-body {
		display: flex;
		gap: 10rem;
		img {
			border-radius: 6px;
		}
	}
}

.our-team-content {
	gap: 2rem;
	display: flex;
	flex-direction: column;
	p {
		font-size: 15px;
		font-weight: 300;
		color: #455065;
	}
}
.our-team-heading {
	display: flex;
	flex-direction: column;
}

.member-photo {
	width: 382px;
	height: 449px;
}
