.our-team {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	margin: 15rem 0;
	border-top: 1px solid var(--home-page-light-grey);

	&-subtitle {
		color: #455065;
		font-weight: 300;
		font-size: 14px;
		width: 70%;
		text-align: center;
	}
	&-body {
    @apply flex items-center flex-wrap justify-center gap-8 rounded-lg border p-4 md:border-none md:flex-nowrap md:items-start;
	}

	&-job {
		color: var(--white);
		font: var(--font-home-semibold);
		font-size: 24px;
	}

	&-title {
		color: var(--white);
		font: var(--font-home-semibold);
		font-size: 40px;
		margin-top: 4rem;
	}
}

.our-team-content {
	gap: 1.5rem;
	display: flex;
	flex-direction: column;
	p {
		font-size: 16px !important;
		font-weight: 300;
		color:var(--white);
		font: var(--font-body-home);
	}
}
.our-team-heading {
	display: flex;
	flex-direction: column;
}

.portrait {
	width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid white;
}

