.card-lead {
  box-shadow: 0px 3px 6px 0px rgba(24, 167, 212, 0.25);
  background: var(--primary-100, #e0f2fe);
  border-radius: 0.5rem;
  width: 94%;
  height: 6.6875rem;
  display: flex;
  align-items: center;
  margin-top: 8rem;
  padding: 1rem;
  gap: 3rem;
  justify-content: space-around;
}
.card-lead-icon {
  width: 65%;
  position: relative;
  top: -68%;
  left: 0%;
}
.lead-lastest-message {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 33%;
}

.lead-message {
  max-width: 100%;
}
.lead-lastest-title {
  color: var(--dark, #27272a);
  font: var(--font-label-semibold);
}
.lead-lastest-text {
  color: var(--soft-dark, #094056);
  font: var(--font-label);
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}
.lead-text-default {
  font: var(--font-body-semibold);
  color: var(--primary--950);
}
