<div class="footer">
  <img class="footer__logo" src="assets/logo_footer.png" alt="logo_footer" />
  @for (item of footerInfo; track $index) {
  <div>
    <h1 class="title-footer-column">{{ item.title | translate }}</h1>

    @for ( element of item.elements; track $index) { @if (element.url) {
    <div class="footer__element">
      <ng-container
        *ngTemplateOutlet="
                  element.logo ? withLogo : text;
                  context: { element: element }
                "
      >
      </ng-container>
    </div>
    } }
  </div>

  }
</div>
<div class="footer__extra-info">
  <hr />
  <span>A Swiss Company</span>
</div>

<!-- template elements-->
<ng-template #text let-element="element">
  <h2 class="subtitle-footer-column">
    <a [routerLink]="element.url">{{ element.title | translate }}</a>
  </h2>
</ng-template>
<ng-template #withLogo let-element="element">
  <span class="material-symbols-rounded"> {{ element?.logo }} </span>
  <h2 class="subtitle-footer-column">{{ element.title | translate }}</h2>
</ng-template>
