<footer class="dark:bg-gray-900 rounded-3xl footer-content">
  <div class="ml-8 mr-8 p-4 pt-6 pb-5">
    <div class="md:flex gap-20">
        <div>
          <h2 class="mb-4 text-sm font-semibold footer-gray-text">{{ 'LEGAL.legal' | translate }}</h2>
          <ul class="font-medium text-base">
            <li class="mb-2">
              <a routerLink="privacy-policy" class="hover:underline text-black">{{ 'LEGAL.privacyPolicy' | translate }}</a>
            </li>
            <li class="mb-2">
              <a routerLink="cookiesPolicy" class="hover:underline text-black">{{ 'LEGAL.cookiesPolicy' | translate }}</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-4 text-sm font-semibold footer-gray-text">{{ 'FOOTER.contact' | translate }}</h2>
          <ul class="font-medium text-base text-black">
            <li class="mb-2">
              <a href="mailto:info@goeko.ch" class="hover:underline text-black">info&#64;goeko.ch</a>
            </li>
            <li class="mb-2">
              <a class="text-black">
                <span class="fi fi-ch"></span>
                <span class="banner-info"> {{ 'BANNER.swissCompany' | translate }}</span>
              </a>
            </li>

          </ul>
        </div>
        <div class="ml-auto">
            <div class="flex items-center mt-1">
                <div class="relative flex h-12 w-full min-w-[200px] max-w-[24rem]">
                  <button
                    class="!absolute right-1 top-1 z-1 rounded-[25px] bg-black py-2 px-4 text-center align-middle text-white leading-6"
                    type="button"
                  >
                    Get started
                  </button>
                  <input
                    type="email"
                    class="h-full w-full rounded-[25px] px-3 py-2.5 pr-20 outline outline-0"
                    placeholder="Enter your email"
                  />
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-4 mt-12 opacity-50" />
    <!-- sm:mx-auto lg:my-8 -->
    <div class="sm:flex sm:items-center sm:justify-center">
      <span class="sm:text-center text-base text-black"
        > <p>GoEko SL Company</p>
          <p>Calle de los partidos de futbol, 120 Geneve, Switzerland</p>
      </span>
    </div>
  </div>
</footer>
