<article class="content">
  <h1 data-aos="fade-down"  data-aos-duration="3000">{{ article?.name }}</h1>
  <div class="content-description" data-aos="fade-down" [ngClass]="{'content-description-without-border': !otherContent}">
    <div class="esfera" *ngIf="otherContent"></div>
    <p>
      {{ article?.descriptions }}
    </p>
    <p>{{ article?.descriptions2 }}</p>
  </div>
  <div class="content-description content-cards" [ngClass]="{'content-description-without-border': !otherContent}">
    <div class="content-card" *ngFor="let item of article?.benefits">
      <img src="{{ item?.media.url }}" />
      <p>{{ item?.text }}</p>
    </div>
  </div>
</article>
