<form [formGroup]="form" class="w-full rounded-lg bg-white p-6 shadow-md">
  <!-- Selección de categorías -->
  <div class="mb-6">
    <h2 class="text-lg font-semibold">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.subtitleForm' | translate }}</h2>
    <div class="mt-4">
      <label class="mb-2 block font-medium">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.vehicles' | translate }}</label>
      <go-badge-group [id]="'vehicles'" name="vehicles" formControlName="vehicles">
        @for (vehicle of vehicles(); track vehicle.id) {
          <go-badge [value]="vehicle" [id]="vehicle.id">{{ vehicle.label | translate }} </go-badge>
        }
      </go-badge-group>
      <div class="flex items-center justify-between p-3 border rounded-lg border-gray-300">
        <span class="flex items-center gap-2">
          <go-i-leaves></go-i-leaves>
          <p class="font-medium">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.greenBonus' | translate }}</p>
        </span>
        <go-toggle-switch (checkedChange)="toogleGrenBonusVehicle($event)" class="ml-2"></go-toggle-switch>
      </div>
    </div>

    <div class="mt-4">
      <label class="mb-2 block font-medium">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.machines' | translate }}</label>
      <go-badge-group [id]="'machines'" name="machines" formControlName="machines">
        @for (machine of machines(); track machine.id) {
          <go-badge [value]="machine" [id]="machine.id">{{ machine.label | translate }} </go-badge>
        }
      </go-badge-group>
      <div class="flex items-center justify-between p-3 border rounded-lg border-gray-300">
        <span class="flex items-center gap-2">
          <go-i-leaves></go-i-leaves>
          <p class="font-medium">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.greenBonus' | translate }}</p>
        </span>
        <go-toggle-switch (checkedChange)="toogleGreenBonusMachine($event)" class="ml-2"></go-toggle-switch>
      </div>
    </div>
  </div>

  <!-- Región objetivo -->
  <div class="mb-6">
    <h2 class="text-lg font-semibold">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.targetRegion' | translate }}</h2>
    <goeko-select-locations [form]="form" [controlLocations]="locationsArrays" [singleSelect]="true"/>
  </div>

  <!-- Prospecto de actividad -->
  <div class="mb-6">
    <h2 class="text-lg font-semibold">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.activityProspect' | translate }}</h2>
    <div class="mb-4">
      <label class="mb-2 block font-medium capitalize">{{ 'years' | translate }}</label>
      <ui-super-select [placeholder]="'years' | translate" formControlName="yearsActivity">
        @for (year of years(); track year.id) {
          <super-option [value]="year"> {{ year.label }}</super-option>
        }
      </ui-super-select>
    </div>
  </div>

  <!-- Origen del objeto -->
  <!--<div class="mb-6">
    <h2 class="text-lg font-semibold">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.originObject' | translate }}</h2>
    <go-badge-group [id]="'zone'" name="zone" formControlName="origin">
      @for (zoneOrigin of origin(); track zoneOrigin.id) {
        <go-badge [value]="zoneOrigin" [id]="zoneOrigin.id">{{ zoneOrigin.label | translate }} </go-badge>
      }
    </go-badge-group>
  </div>-->

  <!-- Balance y operación -->
  <div class="mb-6">
    <go-toggle-switch>
      <h2 class="text-lg font-semibold">{{ 'FUNDING_SUSTAINABLE_EQUIPMENT.balanceSheet' | translate }}</h2>
    </go-toggle-switch>
    <div class="mb-4">
      <label class="mb-2 block font-medium capitalize">{{ 'years' | translate }}</label>

      <ui-super-select [placeholder]="'years' | translate" formControlName="yearsBalance">
        @for (year of years(); track year.id) {
          <super-option [value]="year"> {{ year.label }}</super-option>
        }
      </ui-super-select>
    </div>

    <div class="mb-6">
      <label class="mb-2 block font-medium">{{ 'FORM_LABEL.requiredDocumentsFunding' | translate }}</label>
      <div class="space-y-2 mb-4 form-group form-check">
        @for (document of documents(); track document.id) {
          <label class="flex items-center gap-2">
            <input
              type="checkbox"
              [value]="document.id"
              (change)="documentToggled(document.id, $event)"
              [checked]="documentSelected(document.id)"
              class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500"
            />
            <span *ngIf="documentSelected(document.id)" class="font-bold">
              {{ document.label | translate }}
            </span>
            <span *ngIf="!documentSelected(document.id)" class="font-medium">
              {{ document.label | translate }}
            </span>
          </label>
        }
      </div>

      <div class="mb-4">
        <label class="mb-2 mt-2 block font-medium">{{ 'FORM_LABEL.amountRequiredFunding' | translate }}</label>
        <ui-super-select formControlName="amount">
          @for (money of amount(); track money.id) {
            <super-option [value]="money"> {{ money.label }}</super-option>
          }
        </ui-super-select>
        <label class="mb-2 mt-2 block font-medium">{{ 'FORM_LABEL.currencyFunding' | translate }}</label>
        <ui-super-select [multiple]="true" formControlName="currencys" [placeholder]="'SELECT_DATA_LABEL.defaultLabelMulti' | translate">
          @for (currency of currencys(); track currency.id) {
            <super-option [value]="currency.label"> {{ currency.label }}</super-option>
          }
        </ui-super-select>
      </div>
    </div>
  </div>
</form>

<div class="mt-4 flex justify-between">
  <button go-button appearance="white" (click)="goBack()">{{ 'back' | translate }}</button>
  <div class="flex items-center gap-2">
    <button go-button type="submit" (click)="save()">{{ 'save' | translate }}</button>
    <button go-button (click)="goSkip()" appearance="flat">{{ 'skip' | translate }}</button>
  </div>
</div>
