<!-- <h1 class="title-platform">
	{{ 'dashboard' | translate }}
</h1> -->

<div class="dashboard-option">
	<ul>
		<li
			[routerLink]="['/sme-analysis/new']"
			[queryParams]="{ smeId: companyDetail?.id }"
			[queryParamsHandling]="'merge'"
			routerLinkActive="router-link-active"
			class="slot-data"
			[attr.disabled]="!companyDetail"
		>
			<i class="ti ti-sphere-plus"></i>
			<h4>{{ 'new_analysis' | translate }}</h4>
		</li>

		<li
			[routerLink]="['/sme-analysis/last', companyDetail?.id]"
			routerLinkActive="router-link-active"
			class="slot-data"
			[attr.disabled]="!companyDetail"
		>
			<i class="ti ti-restore"></i>
			<h4>{{ 'last_analysis' | translate }}</h4>
		</li>
	</ul>
</div>
