<div class="dashboard-option">
  <div class="options-for-analysis">
    <button
      go-button
      type="button"
      [routerLink]="['/sme-analysis/new']"
      [queryParams]="{ smeId: userProfile().id, isProject: false }"
      [queryParamsHandling]="'merge'"
      routerLinkActive="router-link-active"
      [disabled]="!userProfile()"
      appearance="white"
      size="huge"
    >
      <i class="ti ti-sphere-plus"></i>
      <h4>{{ 'new_analysis' | translate }}</h4>
    </button>

    <button
      go-button
      type="button"
      [routerLink]="['/sme-analysis/last', userProfile().id]"
      [queryParams]="{ isProject: false }"
      [queryParamsHandling]="'merge'"
      routerLinkActive="router-link-active"
      [disabled]="!userProfile()"
      appearance="white"
      size="huge"
    >
      <i class="ti ti-restore"></i>
      <h4>{{ 'last_analysis' | translate }}</h4>
    </button>
  </div>
  <div class="options-for-company">

    <div class="options-for-company-header">
      <span class="title-section">
        <span class="title-tag"></span>
        <h2>{{ 'projectManagement' | translate }}</h2>
        <span class="title-tag-small"></span>
        <h3>{{ 'last_project' | translate }}</h3>
      </span>
  
      <button
        go-button
        type="button"
        [routerLink]="['/sme-analysis/new-project']"
        [queryParams]="{ smeId: userProfile().id, isProject: true }"
        [queryParamsHandling]="'merge'"
        routerLinkActive="router-link-active"
        [disabled]="!userProfile()"
        appearance="secondary"
      >
        <i class="ti ti-device-desktop-plus"></i>
        {{ 'new_project' | translate }}
      </button>
    </div>
   

    <ul class="list-project">
      <li *ngFor="let project of projects">
        <div class="project-col project-title">
          <i class="ti ti-folder-heart"></i>
          <h4>{{ project.name }}</h4>
        </div>
        <div class="project-col project-date">
          <i class="ti ti-calendar-time"></i>
          <p>{{ project.date | goDateFormat | date : 'short' }}</p>
        </div>
        <div class="project-actions" (click)="deleteProject(project)">
          <i class="ti ti-trash"></i>
        </div>
        <div class="project-actions" (click)="goToProject(project)">
          <i class="ti ti-circle-arrow-right"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
