<div class="flex gap-4">
  <goeko-project-ecosolutions-filters class="mt-3 w-max" [(filtersVisible)]="showFilter"></goeko-project-ecosolutions-filters>

  <!--CONTENT-->
  <div class="flex w-4/6 flex-grow flex-col gap-4">
    <h1 class="text-2xl font-semibold">
      Best eco-solutions for <span class="text-limeGreen">{{ projectData().name }}</span>
      <p class="text-base font-normal">{{ totalEcosolutions() }} results</p>
    </h1>
    <!--APPLIED FILTERS-->
    <div class="flex w-full items-center gap-2 divide-x rounded-lg bg-gray-100 p-2">
      <button
        class="border-light flex h-12 w-24 min-w-max max-w-max basis-24 flex-wrap items-center gap-2 rounded-full border bg-white px-4 py-2"
        (click)="toogleFilters()">
        <i class="ti ti-adjustments-alt"></i>

        <span class="hidden sm:block">Filters</span>
      </button>

      @if (appliedCategoryFilters()) {
        <div>
          <div class="flex flex-wrap items-center gap-2 rounded-lg p-4">
            <div class="flex gap-3">
              @for (filterCategories of appliedCategoryFilters(); track filterCategories.id) {
                <span class="flex items-center gap-1 rounded-md bg-white px-2 text-sm">
                  <p>{{ filterCategories.label }}</p>
                  <i class="ti ti-x text-base"></i>
                </span>
              }
            </div>
          </div>
        </div>
      }

      <div class="ml-auto flex max-w-48 gap-1 p-2 text-sm text-primary-default">
        <span>{{ country()?.label }}</span>
        <span>·</span>
        <abbr title="{{ regions() }}" class="truncate no-underline hover:text-clip">{{ regions() }}</abbr>

        <!--         <ui-super-select [placeholder]="'FORM_LABEL.country' | translate" id="country" [compareWith]="compareWithCountry">
          @for (option of countries(); track option.code) {
            <super-option [value]="option" [valueSelected]="projectData().locations[0]">
              {{ option.label | translate }}
            </super-option>
          }
        </ui-super-select>
        @defer (when regions() && (projectData().locations[0].country.regions ?? []).length > 0) {
          <ui-super-select [placeholder]="'FORM_LABEL.province' | translate" id="province" [multiple]="true">
            @for (option of regions(); track option.code) {
              <super-option [value]="option" [valueSelected]="projectData().locations[0].country.regions">
                {{ option.label | translate }}
              </super-option>
            }
          </ui-super-select>
        } -->
      </div>
    </div>
    <!--LIST ECOSOLUTIONS-->

    @for (ecosolution of ecosolutionsListForProject(); track ecosolution.id) {
      <goeko-card-product
        [title]="ecosolution.solutionName"
        [description]="ecosolution.description"
        [image]="ecosolution.companyDetail.logo"
        [category]="'CATEGORIES.' + ecosolution.classification.mainCategory | translate"
        [classNameCategoy]="ecosolution.classification.mainCategory"
        [isFavorite]="ecosolution.favourite" />
    }
  </div>
</div>
