
<div class="flex flex-col mb-[-3.5rem]">
  <article class="main-front">
    <div class="flex flex-col items-center w-[1486px]">
      <div class="relative w-full">
        <img [src]="'assets/header_photo.svg'"/>
      </div>
      <div class="absolute mt-72 text-center">

        @if (entryDataMain) {
          <h1 class="title">
            {{ entryDataMain.text }}
          </h1>
        }

          @if (entryDataConnecting) {
              <h3 class="subtitle">{{ entryDataConnecting.text }}</h3>
          }
          <div class="grid place-items-center m-auto">
            <div class="flex items-center mt-12">
                <div class="relative flex h-12 w-full min-w-[200px] max-w-[14rem] i-connection">
                  <button
                    class="!absolute right-1 top-1 z-1 rounded-[25px] start-button py-2 px-3 text-center align-middle text-white leading-6"
                    type="button"
                    (click)="openRequestDemoDialog()"
                  >
                    ->
                  </button>
                  <input
                    type="email"
                    class="h-full w-full rounded-[25px] px-3 py-2.5 pr-20 outline outline-0 disabled:bg-white"
                    placeholder="Start connection"
                    disabled
                  />
                </div>
            </div>
        </div>
      </div>
    </div>
  </article>
</div>


