<!-- Main modal -->
<div
  id="default-modal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed left-0 right-0 top-12 z-50 h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-4">
  <div class="relative m-auto max-h-full w-[779px] p-4">
    <!-- Modal content -->
    <div class="relative rounded-3xl bg-white shadow">

        <div class="flex items-center justify-between rounded-t pt-4 pl-4 pr-4">
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-black"
            data-modal-hide="default-modal"
            (click)="closeDialog(true)">
            <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>

          </button>
        </div>
        <!-- Modal body -->
        <div class="flex flex-col text-center items-center rounded-t p-4 gap-4">
            <div>
              <p class="title-demo">Request a demo</p>
              <p class="body-demo">Our team will contact you as soon as possible</p>
            </div>
            <form [formGroup]="formRequestDemo" (ngSubmit)="send()">

            <div>
              <div class="w-full max-w-sm min-w-[340px]">
                <label class="block mb-1 text-sm text-black text-justify body-demo">
                  Company
                </label>
                <input class="w-full bg-transparent text-sm border border-black rounded-md px-3 py-3 focus:outline-none label-input"
                formControlName="company" id="company">
              </div>
            </div>

          <div>
            <div class="w-full max-w-sm min-w-[340px]">
              <label class="block mb-1 text-sm text-black text-justify body-demo">
                Sector
              </label>
              <div class="relative">
                <select
                    class="w-full bg-transparent text-black text-sm border-black rounded pl-3 pr-8 py-3 transition duration-300 ease focus:outline-none appearance-none cursor-pointer h-12 label-input focus:shadow-none"
                    formControlName="sector" id="sector"
                    >

                    <!-- <option value="brazil">construction</option> -->
                    <option>Construction</option>
                    <option>Real estate</option>
                    <option>Cleantech</option>
                    <option>Finance</option>
                    <option>Other</option>
                </select>
                <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="h-5 w-5 ml-1 absolute top-4 right-2.5 text-black">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
              </div>
            </div>
          </div>

          <div *ngIf="newSector">
            <div class="w-full max-w-sm min-w-[340px]">
              <label class="block mb-1 text-sm text-black text-justify body-demo">
                Other sector
              </label>
              <input class="w-full bg-transparent text-sm border border-black rounded-md px-3 py-3 focus:outline-none label-input"
              formControlName="otherSector" id="otherSector">
            </div>
          </div>

          <div>
            <div class="w-full max-w-sm min-w-[340px]">
              <label class="block mb-1 text-sm text-black text-justify body-demo">
                Country
              </label>
              <div class="relative">
                <select
                    class="w-full bg-transparent text-black text-sm border-black rounded pl-3 pr-8 py-3 transition duration-300 ease focus:outline-none appearance-none cursor-pointer h-12 label-input focus:shadow-none"
                    formControlName="country" id="country">
                    >
                    @if(countries){
                      @for (country of countries; track country) {
                        <option [value]="country"> {{ country }}</option>
                      }
                    }
                </select>
                <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="h-5 w-5 ml-1 absolute top-4 right-2.5 text-black">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
              </div>
            </div>
          </div>

          <div>
            <div class="w-full max-w-sm min-w-[340px]">
              <label class="block mb-1 text-sm text-black text-justify body-demo">
                Email
              </label>
              <input
              class="w-full bg-transparent text-sm border border-black rounded-md px-3 py-3 focus:outline-none label-input"
              formControlName="email" id="email">
            </div>
          </div>
         <!-- Modal footer -->
        <div class="flex items-center rounded-b border-gray-200 p-4 mt-16 mb-8">
          <button
            (click)="send()"
            data-modal-hide="default-modal"
            type="button"
            class="request-button min-w-[288px]"
            >
            <!-- {{ 'accept' | translate }} -->
              Contact now
          </button>
        </div>
       </form>
        </div>
    </div>
  </div>
</div>
