<section class="section-step">
  <!-- CATEGORY -->
  <goeko-category [categories]="categories()" [indexSelected]="0" (onSelectCategory)="selectCategory($event)"> </goeko-category>
</section>

<button go-button appearance="white" class="ml-auto" (click)="addSubcategory()">
  {{ 'Add' | translate }}
</button>
@defer (when form) {
  <section class="section-subcategories" [formGroup]="form" [@listAnimation]="subCategorySelected()?.subcategories?.length">
    @for (subcategory of subCategorySelected()?.subcategories; track subcategory.code; let index = $index) {
      <details [@fadeAnimation] class="subcategories" formGroupName="{{ subcategory.code }}" #detailCategory>
        <summary class="subcategories-summary" (click)="toogleSubcategory($event, index)">
          <p>
            {{ subcategory.label.translations[2].label }}
          </p>
          <p>( {{ subcategory.code }})</p>
        </summary>
        @defer (when detailCategory.open) {
          <div class="subcategories-body">
            <go-switch
              class="button-toogle-actors"
              (valueChanged)="hanldertoggleActor($event)"
              [leftLabel]="'USER_TYPE.sme' | translate"
              [rightLabel]="'USER_TYPE.cleanTech' | translate"></go-switch>
            <!--Question for SME's-->
            @if (toggleActor()) {
              <section formGroupName="question">
                <fieldset formArrayName="translations" class="subcategories-translations">
                  <legend class="section-legeng-subcategories">
                    {{ 'FORM_LABEL.subcategoryForLangSME' | translate }}
                  </legend>

                  @for (lang of langs(); track lang.code; let index = $index) {
                    <article [formGroupName]="index" class="subcategories-sentence">
                      <go-input [formControlName]="'label'">
                        <p slot="label">
                          <span class="fi fi-{{ lang.code }}"></span>
                          {{ lang.title | translate }}
                        </p>
                      </go-input>
                    </article>
                  }
                </fieldset>
              </section>
            } @else {
              <!--  Question for Cleantech-->
              <section formGroupName="label">
                <fieldset formArrayName="translations" class="subcategories-translations">
                  <legend class="section-legeng-subcategories">
                    {{ 'FORM_LABEL.subcategoryForLangCleantech' | translate }}
                  </legend>

                  @for (lang of langs(); track lang.code; let index = $index) {
                    <article [formGroupName]="index" class="subcategories-sentence">
                      <go-input [formControlName]="'label'">
                        <p slot="label">
                          <span class="fi fi-{{ lang.code }}"></span>
                          {{ lang.title }}
                        </p>
                      </go-input>
                    </article>
                  }
                </fieldset>
              </section>
            }

            <fieldset class="subcategories-translations">
              <legend class="section-legeng-subcategories">
                {{ 'FORM_LABEL.products' | translate }}
              </legend>
              <button go-button appearance="flat" class="button-actions-section" (click)="addProducts(subcategory)">
                <i class="ti ti-plus"></i> {{ 'add' | translate }}
                {{ 'product' | translate }}
              </button>

              <go-badge-group formControlName="products" [id]="'products'" name="products">
                @for (product of form.get(subcategory.code)?.get('products')?.value; track product.code) {
                  <go-badge [value]="product" [readonly]="true" [@fadeAnimation]>{{ product | productToCurrentLang }} </go-badge>
                }
              </go-badge-group>
            </fieldset>
            <div class="subcategories-actions">
              <button go-button appearance="white" (click)="closeDetailCategory(index)">
                {{ 'cancel' | translate }}
              </button>
              <button go-button (click)="updateSubcategory(subcategory.id, this.form.value[subcategory.code])" [disabled]="!form.dirty">
                {{ 'save' | translate }}
              </button>
            </div>
          </div>
        }
      </details>
    }
  </section>
} @loading {
  <div>loading</div>
}
