.project-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  gap: 2rem;
  .section-step {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section-elements {
    list-style: none;
    color: #babcbd;
    padding: 0;
    width: 100%;
    display: flex;
    & > .active {
      color: #47525e;
      font-weight: 700;
    }
  }
}

%base-section {
  background: #ffffff;

  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  border-radius: 16px;
  flex-grow: 2;
  flex-shrink: 2;
  padding: 1rem 10px;
  flex-direction: column;
}
.project-wrapper .section-form {
  @extend %base-section;
}

.search-name-section {
  @extend %base-section;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  go-input,
  h2 {
    width: 50%;
    color: #080e49;
  }
}
.project-wrapper .content-form {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;

  h3 {
    font-size: 1.3rem;
    color: #080b17;
  }
}
.demo-logo {
  width: 3.8rem;
  height: 3.4rem;
}

.project-wrapper .elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4.3rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 14px;
  padding: 1rem;
  margin: 1rem 0;
  justify-content: center;
  cursor: pointer;
  &--active {
    color: #537cd0;
    background: #ebefff;
    font-size: 18px;
    font-weight: bold;
  }
  &-icon {
    color: var(--primary--main);
    font-size: 1.5rem;
  }
  &-title {
    font-size: 1rem;
  }
  &:hover {
    filter: drop-shadow(1px 1px 9px var(--primary--main));
    color: #080b17e0;
  }
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.form-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-field {
  width: 96%;
  &--center {
    margin: 0 auto;
  }
}

.form-field-badge-group {
  label {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.goeko-go {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background-image: url('/assets/logo.png');
  background-size: 38px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.button-submit {
  width: 184px;
  display: block;
}
.project-wrapper .form-actions {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  gap: 2rem;
  position: fixed;
  bottom: 0rem;
  width: 92%;
  background: #f7f9fe;
  padding: 1rem;
  &-submit {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.text-support {
  color: #c0c0c0;
}

.field-form-checked {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.line-connected {
  position: absolute;
  width: 20%;
  transform: rotate(90deg);
  top: 5rem;
  border-style: dotted;
  border-top-width: 7px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: #1790d65e;
}

.bkg-style1 {
  background-image: url(https://w0.peakpx.com/wallpaper/907/526/HD-wallpaper-dark-background-with-green-leaves-nature-background-floral-background-ecology-leaves-background.jpg);
  color: #ffff;
  background-size: cover;
  go-carousel {
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 87%;
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    border-radius: 1rem;
  }
}

ui-super-select {
  min-width: 450px;
}
.demo-container label {
  color: #2b2b2b;
  font-weight: 500;
}
