<go-notification type="info" *ngIf="saveOK" class="notification"
	><p>{{ 'NOTIFICATION.save_ok' | translate }}</p></go-notification
>
<div class="summary">
	<ul class="section-elements" *ngIf="formValue">
		<ng-container *ngFor="let element of formField; last as isLast; index as index">
			<li class="elements-field" *ngIf="!isLast">
				<div class="summary-section-header">
					<h2>{{ element.keyLang | translate }}</h2>
					<button class="section-header-edit" (click)="editCategory(element.id)">
						<p>{{ 'edit' | translate }}</p>
						<span class="material-symbols-rounded"> border_color</span>
					</button>
				</div>
				<div class="summary-section-body">
					<ng-container *ngFor="let field of element.fields">
						<div class="formValue-field" *ngIf="formValue[element.controlName][field.controlName]">
							<h4>{{ field.label | translate }}</h4>
							<ng-container [ngSwitch]="true">
								<p *ngSwitchCase="isBoolean(formValue[element.controlName][field.controlName])">
									{{ formValue[element.controlName][field.controlName] ? 'YES' : 'NO' }}
								</p>
								<p *ngSwitchCase="isArray(formValue[element.controlName][field.controlName])">
									{{ tranformValueArray(element, field) }}
								</p>
								<p
									*ngSwitchCase="
										!isBoolean(formValue[element.controlName][field.controlName]) &&
										!isArray(formValue[element.controlName][field.controlName])
									"
								>
									{{ formValue[element.controlName][field.controlName].toString() || '-' }}
								</p>
								<p *ngSwitchDefault></p>
							</ng-container>
						</div>
					</ng-container>
				</div>
			</li>
		</ng-container>
	</ul>
</div>

<div class="form-actions">
	<button type="button" go-button appearance="white">{{ 'cancel' | translate }}</button>
	<div class="form-actions-submit">
		<button type="button" go-button appearance="white" (click)="saveAnalysis()">
			{{ 'save' | translate }}
		</button>

		<go-goeko-button class="button-submit" (click)="getResults()">
			<span class="goeko-go" btn-logo></span>
			Eco-solutions</go-goeko-button
		>
	</div>
</div>
