.summary {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	.elements-field {
		height: 100%;
		border: 2px solid #ebefff;
		border-radius: 1rem;
		margin: 0.7rem;
		width: 95%;
		padding: 1rem;
		background: #ffff;
	}
	h1 {
		font-size: 1.4rem;
	}
	.section-elements {
		width: 100%;
	}
}
.summary-section-header {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #537cd0;
	justify-content: space-between;
	h2 {
		padding: 0;
		margin: 0;
	}
	h1 {
		font-size: 1.3rem;
		color: #080b17;
	}
	span {
		cursor: pointer;
	}
}
.section-header-edit {
	border-radius: 1.5rem;
	border: 2px solid #ebefff;
	display: flex;
	padding: 0.4rem 0.8rem;
	font-size: 12px;
	align-items: center;
	background: #ffffff;
	color: #747ed0;
	gap: 6px;
	cursor: pointer;
	span {
		font-size: 20px;
	}
}
.summary-section-body {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 5rem;
	padding: 1rem 0;
	.form-field {
		width: fit-content;
		h4 {
			margin-bottom: 0;
		}
		p {
			color: #080b17;
			margin: 0;

			white-space: pre-wrap;
		}
	}
}
.form-actions {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	gap: 2rem;
	position: fixed;
	bottom: 0rem;
	width: 92%;
	background: #f7f9fe;
	padding: 1rem;
	&-submit {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
	}
}
.notification {
	width: 94%;
	display: block;
	margin: 0 auto;
}
.goeko-go {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: block;
	background-image: url('/assets/logo.png');
	background-size: 38px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
