<go-notification type="info" *ngIf="saveOK" class="notification"
  ><p>{{ 'NOTIFICATION.save_ok' | translate }}</p></go-notification
>
<div class="summary">
  <section class="search-name-section" *ngIf="isProject">
    <button
      go-button
      appearance="primary"
      (click)="toogleSaveName = !toogleSaveName"
      *ngIf="toogleSaveName"
    >
      {{ 'confirm' | translate }}
    </button>
    <h2 *ngIf="!toogleSaveName">{{ formValue.searchName }}</h2>

    <button
      go-button
      appearance="transparent"
      *ngIf="!toogleSaveName"
      (click)="toogleSaveName = !toogleSaveName"
    >
      {{ 'edit' | translate }}
    </button>
  </section>

  <ul class="section-elements">
    @for ( category of allCategories.selected; track category.code) { @defer
    (when category) {
    <li class="elements-field">
      <div class="summary-section-header">
        <h2>{{ category.label | translate }}</h2>
      </div>

      <div class="summary-section-body">
        @for ( subcategory of category.subcategories; track subcategory.code) {
        @if (currentAnalytics()[category.code] &&
        currentAnalytics()[category.code][subcategory.code]; as field ) {

        <div class="form-value-field">
          <div class="form-value-heading">
            <h4>{{ subcategory.label }}</h4>

            <button
              class="form-value-edit"
              go-button
              appearance="flat"
              (click)="editCategory(category.code, subcategory.code)"
            >
              <p>{{ 'edit' | translate }} {{ 'product' | translate }}</p>
            </button>
          </div>

          <p>
            {{ field | dataArraySummary }}
          </p>
        </div>
        } }
      </div>
    </li>
    } }
  </ul>
</div>

<div class="form-actions">
  <button type="button" go-button appearance="white" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <div class="form-actions-submit">
    <button type="button" go-button appearance="white" (click)="saveAnalysis()">
      {{ 'save' | translate }}
    </button>

    <go-goeko-button class="button-submit" (click)="getResults()">
      <span class="goeko-go" btn-logo></span>
      Eco-solutions</go-goeko-button
    >
  </div>
</div>
