@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .label-form {
    @apply text-lg font-semibold text-black;
  }
  label[data-after-label]::after {
    content: ' (' attr(data-after-label) ')';
    @apply text-sm font-normal text-gray-500;
  }
}

@layer components {
  .go-badge-category {
    @apply w-max rounded-full px-3 py-2 text-xs font-semibold;
    background-color: var(--green-pastel);
    color: var(--green-lime);
  }
}

@layer title-page {
  .title-page {
    @apply text-2xl font-semibold text-black;
  }
}
