<section
  class="bg-white p-3 rounded-xl shadow-xl flex items-center justify-between mt-4 gap-2"
>
  <div class="flex space-x-6 items-center w-full">
    <img src="assets/lead.svg" class="w-auto h-40 rounded-lg" />
    <div>
      @if (this.cleantechLeads$ | async; as leads) {
        @if (leads && leads.length > 0) {
          <p class="font-semibold text-base">
            {{ 'lastLead' | translate }}
          </p>
          <p
            class="lead-lastest-text w-[60%]"
            [innerHTML]="leads.at(-1)?.message"
          ></p>
        } @else {
          <ng-container *ngTemplateOutlet="defaultMsgLead"></ng-container>
        }
      } @else {
        <ng-container *ngTemplateOutlet="defaultMsgLead"></ng-container>
      }
    </div>
  </div>

  @if (this.cleantechLeads$ | async; as leads) {
    @if (leads && leads.length > 0) {
      <button go-button [routerLink]="'../../leads'">
        {{ 'showLead' | translate }}
        <i class="ti ti-arrow-badge-right"></i>
      </button>
    }
  }
</section>

<ng-template #defaultMsgLead>
  <p class="font-semibold text-lg text-primary-800">
    {{ 'titleBannerLead' | translate }}
  </p>
  <p class="text-base text-gray-400">
    {{ 'cleantechLeadDefault' | translate }}
  </p>
</ng-template>
