@if (this.cleantechLeads$ | async; as leads ) {
    <div class="card-lead">
        <object  class="card-lead-icon" data="assets/lead.svg"></object>
        <div class="lead-lastest-message">
            <span class="lead-lastest-title">{{'lastLead' | translate}}</span>
            <p class="lead-lastest-text" [innerHTML]="leads.at(-1)?.message"></p>

        </div>
        <button go-button appearance="white" [routerLink]="'/leads'" >
            {{'showLead' | translate}}
        </button>
    </div>
}
