<section class="mb-8 flex justify-between">
  <h1 class="title-page">{{ 'your_ecosolutions' | translate }}</h1>
  <button go-button (click)="createEcosolution()">{{ 'addNewSolution' | translate }}</button>
</section>

<section class="relative flex flex-col gap-4">
  @for (ecosolution of ecosolutionsInfo(); track $index) {
    <goeko-ecosolution-info
      [title]="ecosolution.solutionName"
      [description]="ecosolution.description"
      [categories]="ecosolution.category"
      (onEdit)="editEcosolution(ecosolution)"
      (onDelete)="deleteEcosolution(ecosolution)"></goeko-ecosolution-info>
  }
</section>
