.ecosolutions-section {
	position: relative;
}

.ecosolutions-card-list {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	gap: 2rem;
}
.add-ecosolutions {
	width: 100%;
	max-width: 360px;
	min-height: 25rem;
	max-height: 476px;
	border-radius: 12px;
	background: #e2e9f4;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	cursor: pointer;
	border: 2px dashed rgba(0, 0, 0, 0.25);
	i {
		font-size: 2rem;
		border-radius: 50%;
		box-shadow: 0px 0px 7px 3px #fff;
		background: #0090d6;
		color: #fff;
		text-align: center;
		cursor: pointer;
	}
	p {
		color: #3f4e63;
		font-size: 16px;
		font-weight: 300;
	}
	&:hover {
		background-color: #b2c3de73;
		transition: 0.7s;
	}
	&:focus {
		outline-color: transparent;
		outline-style: solid;
		box-shadow: 0 0 0 4px #e2e9f4;
	}
	&:active {
		background-color: #e2e9f4;
	}
}
.title-category {
	display: flex;
	gap: 1rem;
	align-items: center;
}
