<section class="ecosolutions-section">
	<go-tab-group>
		<ng-container *ngFor="let item of categorySection">
			<go-tab [title]="item.keyLang | translate">
				<div #content class="ecosolutions-card-list">
					<button
						class="add-ecosolutions"
						[routerLink]="['./new']"
						[queryParams]="{
							cleanTechId: cleanTechId,
							mainCategory: item.code
						}"
						routerLinkActive="router-link-active"
					>
						<i class="ti ti-plus"></i>
						<p>{{ 'add' | translate }} Ecosolutions</p>
					</button>
					<ng-container *ngFor="let ecosolution of ecosolutions">
						<goeko-card-ecosolutions
							*ngIf="item.code === ecosolution.mainCategory"
							[solutionName]="ecosolution.solutionName"
							[products]="ecosolution.products"
							[sustainableDevelopmentGoals]="ecosolution.sustainableDevelopmentGoals"
							(delete)="deleteEcosolution(ecosolution)"
						></goeko-card-ecosolutions>
					</ng-container>
				</div>
			</go-tab>
		</ng-container>
	</go-tab-group>
</section>
