$color-platform: #3065b0;

.go-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.content {
  color: var(--color-text-light);
  display: flex;
  gap: 3rem;
  position: relative;
  .title {
    font-size: 108px;
    margin:0;
    color: #47525E;
    text-shadow: 3px -1px 14px rgb(243 243 243 / 59%);
    position: absolute;
  }

  &__actor-photo {
    width: 340px;
    height: 380px;
    border-radius: 50px;
  }
  
}

.section-column {
  display: flex;
  flex-direction: column;
}
.element-column {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}





@media (max-width: 768px) {
  .content-card {
    max-width: 100%;
  }
}
