$color-platform: #3065b0;

.go-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content {
  color: var(--color-text-light);
  display: flex;
  gap: 3rem;
  position: relative;
  flex-wrap: wrap;
  padding: 10rem 0;
  min-height: 100vh;
/*   margin-bottom: 4%;
 */
  .title {
    font-size: 200px;
    margin:0;
    color: #47525E;
    text-shadow: 3px -1px 14px rgb(243 243 243 / 59%);
    position: absolute;
    right: 70%;
    top: -14%;
    background-color: #FFFFFF;
    height: 12rem;
    line-height: 1;
    padding: 0 2rem;
    width: fit-content;
  }

  &__actor-photo {
    width: 340px;
    height: 380px;
    border-radius: 50px;
    object-fit: cover;
  }
  
}
.content-header {
  position: relative;
  .title-reverse-content {
    left: 80%;
  }
}
.info-actors {
  display: flex;
  width: 55%;
  align-items: flex-end;
  min-height: 21rem;
  flex-wrap: wrap;
}
.section-column {
  display: flex;
  flex-direction: column;
  flex-basis: 29%;
  flex-grow: 2;

  
}
.element-column {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color:#47525E;
  span {
    color: #0090D6;

  }
}
.title-content-column {
  font-family: 'Inter-Thin', sans-serif;
  font-size: 24px;
  color: #47525E;
  font-weight: 100;
}

.banner-actors {
  width: 100%;
  background: #47525E;
  height: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.goeko_in {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
  width: 19rem;
  bottom: -7px;
  img {width: inherit}
}
.tooltip {
	transform: scale(1);
	opacity: 1;
	position: absolute;
	top: 1%;
  display:flex;
  justify-content: center;
  text-align: center;
}
.content-slogan {
  font-size: 30px;
  color: #FFFFFF;
  font-family: 'Roboto-Thin';
  margin: 0;
}

.point-style {
  position: absolute;
/*   top: -11rem;
  right: -18rem; */
  transform: rotate(45deg);
  &--reverse {
    right: 93%;
  }
}

.row-reverse-content {
  flex-direction: row-reverse;
}


@media (max-width: 768px) {
	.content {
    height: auto;
    justify-content: center;
    text-align: center;
	}
  .content .title {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 63px;
    height: auto;
    top: -76px;

  }
}

