<section class="select-actors">
  <div class="select-actors-heading">
    <h2 class="select-actors-title">What is your path to sustainability?</h2>
    <p class="select-actors-description">
      Connecting SMEs to clean technologies and financing
    </p>
  </div>

  <ul class="platform-actors">
    <li class="actors-detail">
      <i class="ti ti-building-store actors-detail-icon"></i>
      <h3 class="actors-detail-name">Enterprise</h3>
      <p class="actors-detail-description">
        Turn your business sustainable with our platform's eco-solutions
      </p>
    </li>

    <li class="actors-detail">
      <i class="ti ti-building-store actors-detail-icon"></i>
      <h3 class="actors-detail-name">Enterprise</h3>
      <p class="actors-detail-description">
        Turn your business sustainable with our platform's eco-solutions
      </p>
    </li>

    <li class="actors-detail">
      <i class="ti ti-building-store actors-detail-icon"></i>
      <h3 class="actors-detail-name">Enterprise</h3>
      <p class="actors-detail-description">
        Turn your business sustainable with our platform's eco-solutions
      </p>
    </li>
  </ul>
</section>

<article
  [id]="article.id"
  class="content"
  [ngClass]="{ 'row-reverse-content': odd }"
  *ngFor="
    let article of articles | orderBy : 'order';
    let i = index;
    let odd = odd
  "
>
  <img
    class="content__actor-photo"
    [src]="article.image"
    [alt]="article.name"
  />

  <div class="ods-info" *ngIf="false">
    <img
      width="100%"
      [src]="'assets/icon-ods/ods-logo-wheel.png'"
      [alt]="currentLang"
    />
    <h1>{{ 'ods_title' | translate }}</h1>
  </div>
  <section class="info-actors">
    <div>
      <h1
        class="info-actors-title"
        [ngClass]="{ 'title-reverse-content': !odd }"
      >
        {{ article?.name }}
      </h1>
      <h3 class="info-actors-description">
        {{ article?.descriptions }}
      </h3>
    </div>

    <div
      class="info-actors-feature"
      *ngIf="article?.benefits && article?.benefits.length > 0"
    >
      <p class="info-actors-feature-description">
        {{ article?.descriptions2 }}
      </p>
      <ul class="info-actors-benefis">
        @for (item of article?.benefits; track item._id) {
        <li class="info-actors-benefis-element">
          <i class="ti {{ item?.icon }} info-actors-benefis-icon"></i>

          <p class="info-actors-benefis-label">{{ item?.text }}</p>
        </li>
        }
      </ul>
    </div>

    <ng-container
      [ngTemplateOutlet]="article.id === 'sme' ? sme : otherActor"
      [ngTemplateOutletContext]="{ id: article.id }"
    >
    </ng-container>
  </section>
</article>

<ng-template #sme let-id="id">
  <button go-button [routerLink]="'../demo/' + id">
    {{ 'HOME.sloganCallActionsBtnSME' | translate }}
    <span class="material-symbols-rounded"> arrow_forward_ios </span>
  </button>
</ng-template>

<ng-template #otherActor let-id="id">
  <h4 class="content-slogan">{{ 'HOME.sloganCallActionsBtn' | translate }}</h4>
  <div class="goeko_in">
    <go-goeko-button [routerLink]="'../demo/' + id" style="width: 100px">
      <span class="goeko-go" btn-logo></span>
      {{ 'start' | translate }}
    </go-goeko-button>
  </div>
</ng-template>
