<h1 class="text-2xl font-bold">{{ 'MENU_USER.favourites' | translate }}</h1>
<div class="mx-auto p-4 sm:max-w-full lg:max-w-7xl">
  <div class="flex flex-wrap gap-6">
    @if (ecosolutionFavorites$ | async; as ecosolutionFavorites) {
      @for (ecosolutionFavorite of ecosolutionFavorites; track ecosolutionFavorite.id) {
        <goeko-card-product
          [title]="ecosolutionFavorite.ecosolution.solutionName"
          [description]="ecosolutionFavorite.ecosolution.description"
          [image]="ecosolutionFavorite.ecosolution.companyDetail.logo"
          [category]="'CATEGORIES.' + ecosolutionFavorite.ecosolution.classification.mainCategory | translate"
          [classNameCategoy]="ecosolutionFavorite.ecosolution.classification.mainCategory"
          [isFavorite]="ecosolutionFavorite.tag === TAGGING.FAVOURITES"
          (changeFavorite)="removeFavorite(ecosolutionFavorite.ecosolution.ecosolutionId)"
          (changeShowMore)="showMore(ecosolutionFavorite.ecosolution.ecosolutionId)" />
      }
    }
  </div>
</div>
