<div class="mt-15 flex justify-between px-4 mx-auto max-w-screen-xl">
  <article class="mt-8 mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
    <header class="mb-4 lg:mb-6 not-format">
        <address class="flex items-center mb-6 not-italic">
            <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-black">
                <!--<div class="flex items-center bg-gray-200 justify-center mr-4 w-20 h-20 rounded-full">
                  <img [src]="blogPost.fields['image']" alt="Placeholder Image">
                </div>-->
                <div>
                    <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-black">{{ blogPost.fields['author'] }}</a>
                    <p class="text-primary-400 font-medium">{{ blogPost.fields['occupation'] }}</p>
                    <p class="text-primary-400 font-medium">
                      <span>{{ blogPost.fields['creationDate'] | goDateFormat }}</span>
                    </p>
                </div>
            </div>
        </address>
        <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-black">{{ blogPost.fields['title'] }}</h1>
    </header>
    <div class="mb-8 mt-8 flex items-center bg-gray-200 h-64 justify-center rounded-2xl">
      <img [src]="blogPost.fields['image']" alt="Placeholder Image">
    </div>
    <section class="prose dark:prose-dark">
      <p class="mb-8">{{ blogPost.fields['content'] }}</p>
    </section>
  </article>
</div>

