<go-notification type="info" class="notification" *ngIf="savedProfileOK">
	<div class="policy-password">
		<p>{{ 'NOTIFICATION.save_ok' | translate }}</p>
	</div>
</go-notification>
<div class="profile-data">
	<form [formGroup]="form" class="profile-page">
		<ng-container *ngFor="let itemForm of formProfile">
			<ng-container [ngSwitch]="itemForm.type">
				<ng-container *ngSwitchCase="'select-multiple'">
					<div class="select-profile">
						<label for="{{ itemForm.controlName }}">{{ itemForm.label | translate }}</label>

						<ui-super-select
							[placeholder]="'SELECT_DATA_LABEL.defaultLabel' | translate"
							[multiple]="true"
							[formControlName]="itemForm.controlName"
							[id]="itemForm.controlName"
							[name]="itemForm.controlName"
							[compareWith]="defaultSetSuperSelect"
						>
							<ng-container *ngIf="itemForm.dataSelectKey">
								<super-option
									*ngFor="let option of dataSelect[itemForm.dataSelectKey]"
									[value]="option"
								>
									{{ option.keyLang | translate }}
								</super-option>
							</ng-container>
						</ui-super-select>
					</div>
				</ng-container>

				<ng-container *ngSwitchCase="'select'">
					<div class="select-profile">
						<label for="{{ itemForm.controlName }}">{{ itemForm.label | translate }}</label>

						<ui-super-select
							[placeholder]="'SELECT_DATA_LABEL.defaultLabel' | translate"
							[formControlName]="itemForm.controlName"
							[id]="itemForm.controlName"
							[name]="itemForm.controlName"
							[compareWith]="defaultSetSuperSelect"
						>
							<ng-container *ngIf="itemForm.dataSelectKey">
								<super-option
									*ngFor="let option of dataSelect[itemForm.dataSelectKey]"
									[value]="option"
								>
									{{ option.keyLang | translate }}
								</super-option>
							</ng-container>
						</ui-super-select>
					</div>
				</ng-container>

				<ng-container *ngSwitchDefault>
					<go-input [formControlName]="itemForm.controlName" type="${itemForm.type}">
						<p slot="label">{{ itemForm.label | translate }}</p>
					</go-input>
				</ng-container>
			</ng-container>
		</ng-container>

		<div class="profile-actions">
			<button
				type="button"
				go-button
				appearance="white"
				[routerLink]="['/dashboard']"
				routerLinkActive="router-link-active"
			>
				{{ 'cancel' | translate }}
			</button>
			<button
				type="button"
				go-button
				appearance="primary"
				type="submit"
				(click)="dataProfile?.id ? updateProfile() : saveProfile()"
			>
				{{ 'save' | translate }}
			</button>
		</div>
	</form>
</div>

<br />
