.profile-data {
	display: flex;
	gap: 2rem;
	width: 50%;
}
.profile-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	background: #ffffff;
	border-radius: 1rem;
	flex-direction: column;
	gap: 1.3rem;
	flex-basis: 54%;
	flex-shrink: 1;
	flex-grow: 2;
}
.select-profile {
	width: 100%;
}
.profile-actions {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.side-profile {
	flex-basis: 40%;
	border-radius: 1rem;
	flex-grow: 2;
}

.notification {
	display: block;
}
