.profile-data {
	display: flex;
	gap: 2rem;
	width: 50%;
}
.profile-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem;
	background: #ffffff;
	border-radius: 1rem;
	flex-direction: column;
	gap: 1.3rem;
	flex-basis: 54%;
	flex-shrink: 1;
	flex-grow: 2;
}
.select-profile {
	width: 100%;
}
.profile-actions {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.side-profile {
	flex-basis: 40%;
	border-radius: 1rem;
	flex-grow: 2;
}

.notification {
	display: block;
}
