.leads-list {
    display: flex;
 ul {
    width: 30%;
 }
}

.lead-elements {
    border: 1px solid var(--primary--100);
    padding: 1rem;
    cursor: pointer;
    background: var(--white);
    border-radius: 0.5rem;
    &:hover {
        border: 1.5px solid var(--primary--400);
    }
}
.lead-content {
    padding: 4rem;
    background: var(--white);
    border: 1.5px solid var(--primary--400);
    width: 100%;
    margin: 0 1rem;
    border-radius: 0.5rem
}