<a class="text-lg font-semibold text-primary-default" (click)="goBack()">{{ 'backToResults' | translate }}</a>
<h2 class="mb-6 text-xl font-semibold">
  {{ 'yourEcosolution' | translate }}
</h2>

<div class="flex flex-wrap gap-8">
  <div class="flex flex-grow basis-7/12 flex-col gap-4">
    <div class="section divide-y border-grayStone">
      <div class="flex flex-col gap-8">
        <!-- Header: Data comany and solution name -->
        <div class="mb-4 flex items-center justify-between">
          <div class="flex items-start gap-4">
            <img
              class="size-28 rounded-xl border border-grayLight"
              [src]="ecosolutionSearchDetail().companyDetail.logo"
              [alt]="ecosolutionSearchDetail().companyDetail.id" />
            <div class="flex flex-col gap-3">
              <h2 class="text-2xl font-semibold">
                {{ ecosolutionSearchDetail().solutionName }}
              </h2>
              <span class="max-w-max rounded-full bg-greenPastel px-3 py-1.5 text-sm font-semibold text-greenLime">
                {{ 'CATEGORIES.' + ecosolutionSearchDetail().classification.mainCategory | translate }}
              </span>
              <p class="text-sm font-semibold text-greenLime">
                {{ ecosolutionSearchDetail().companyDetail.name }}
              </p>
            </div>
          </div>
        </div>

        <!-- Classification -->
        @if (ecosolutionSearchDetail().classification) {
          <section class="fieldset">
            <p class="w-full text-sm font-semibold text-grayCharcoal">
              {{ 'CATEGORIES_LABEL.' + ecosolutionSearchDetail().classification.subCategory + '.label' | translate }}
            </p>
            <!-- TODO:Change with admin v2 -->
            <div class="flex flex-wrap gap-2">
              @for (option of dataSelect[ecosolutionSearchDetail().classification.subCategory]; track option.id) {
                @if (ecosolutionSearchDetail().classification.products.includes(option.id)) {
                  <div class="inline-block rounded-full border border-grayMedium px-3 py-1.5 text-sm font-semibold text-grayDark">
                    {{ option.keyLang | translate }}
                  </div>
                }
              }
            </div>
          </section>
        }
        <!-- Countries of Distribution -->
        <div class="fieldset">
          <h3 class="font-semibold text-gray-700">{{ 'FORM_LABEL.countriesDistribution' | translate }}</h3>
          <div class="flex gap-2">
            @for (location of ecosolutionSearchDetail().locations; track location?.country?.code) {
              <div class="flex gap-2 rounded-full border border-grayMedium px-3 py-1.5 text-sm font-semibold text-grayDark">
                <span class="fi fi-{{ location.country.code | lowercase }}"></span>
                <p>{{ location.country.label }}</p>
              </div>
            }
          </div>
        </div>

        <div class="fieldset">
          <h3 class="font-semibold text-gray-700">{{ 'FORM_LABEL.price' | translate }}</h3>
          <p class="details-article--data" [innerHTML]="ecosolutionSearchDetail().priceDescription | lineBreak"></p>
        </div>

        <!-- Sustainable Development Goals -->
        <div class="fieldset">
          <h3 class="font-semibold text-gray-700">{{ 'ods_title' | translate }}</h3>
          <goeko-sdg-icons
            [readonly]="true"
            [justIcon]="true"
            [selected]="ecosolutionSearchDetail().sustainableDevelopmentGoals"></goeko-sdg-icons>
        </div>

        <!-- Warranty -->
        @defer (when ecosolutionSearchDetail()['guaranteeInYears']) {
          <div class="fieldset">
            <h3 class="font-semibold text-gray-700">{{ 'FORM_LABEL.guarantee' | translate }}</h3>
            <span class="flex w-max gap-2 rounded-full border border-grayMedium px-3 py-1.5 text-sm font-semibold text-grayDark">
              {{ ecosolutionSearchDetail()['guaranteeInYears'] | number: '1.0-0' }}
              {{ 'years' | translate }}
            </span>
          </div>
        }

        <!-- Payback Period years -->
        @defer (when ecosolutionSearchDetail()['paybackPeriodYears']) {
          <div class="fieldset">
            <h3 class="font-semibold text-gray-700">{{ 'FORM_LABEL.paybackPeriodYears' | translate }}</h3>
            <span class="flex w-max gap-2 rounded-full border border-grayMedium px-3 py-1.5 text-sm font-semibold text-grayDark">
              {{ ecosolutionSearchDetail()['paybackPeriodYears'] | number: '1.0-0' }}
              @if (ecosolutionSearchDetail()['paybackPeriodYears'] === 1) {
                {{ 'year' | translate }}
              } @else {
                {{ 'years' | translate }}
              }
            </span>
          </div>
        }

        <!-- Certificate-->
        <div>
          <button
            go-button
            appearance="white"
            (click)="downloadCertified(ecosolutionSearchDetail().documents[0])"
            *ngIf="ecosolutionSearchDetail()?.certified && ecosolutionSearchDetail().documents['length'] > 0">
            <i class="ti ti-file-download"></i>
            {{ 'certified' | translate }}
          </button>
        </div>
      </div>
      <!-- Description & Images -->
      <div class="pt-4">
        <h3 class="text-lg font-semibold">{{ 'FORM_LABEL.technicalDescription' | translate }}</h3>
        <div class="mt-2">
          <!-- Image Carousel -->
          <goeko-input-file [filesUrl]="ecosolutionSearchDetail()['pictures'] | pictureGetUrl" [multiple]="true" [readonly]="true">
          </goeko-input-file>
        </div>
        <!-- Text Description -->
        <p class="text-sm leading-relaxed text-gray-600" [innerHTML]="ecosolutionSearchDetail().detailedDescription | safe: 'html'"></p>
      </div>

      <!-- Description Section -->
    </div>

    <!-- Benefis -->
    <div class="section border-grayStone">
      <h3 class="text-lg font-semibold">{{ 'FORM_LABEL.advantages' | translate }}</h3>

      <div class="flex gap-4">
        <ng-container
          [ngTemplateOutlet]="percentageReductionTpl"
          [ngTemplateOutletContext]="{
            $implicit: ecosolutionSearchDetail().classification.mainCategory,
          }"></ng-container>

        <go-percentage-card
          [label]="'FORM_LABEL.operationalCostReductionPercentage'"
          [isUpto]="true"
          [percentage]="ecosolutionSearchDetail().improvement.operationalCostReductionPercentage.to || 0"></go-percentage-card>
      </div>
    </div>
    @if (ecosolutionSearchDetail().companyDetail.link) {
      <div class="section border-grayStone">
        <div class="self-start">
          <div class="flex items-center gap-1 font-medium" id="website_{{ ecosolutionSearchDetail().companyDetail.name }}">
            <span>{{ ecosolutionSearchDetail().companyDetail.link }}</span>
          </div>
        </div>
      </div>
    }
    <button go-button (click)="goBack()">{{ 'back' | translate }}</button>
  </div>
  <goeko-lead-form
    class="flex-grow basis-1/3"
    [cleantechId]="ecosolutionSearchDetail().companyDetail.id"
    [ecosolutionId]="ecosolutionId()"></goeko-lead-form>
</div>

<ng-template #percentageReductionTpl let-mainCategory>
  @switch (mainCategory) {
    @case (CATEGORIES().WASTE) {
      <go-percentage-card
        [label]="'FORM_LABEL.reductionPercentageWaste'"
        [isUpto]="true"
        [percentage]="ecosolutionSearchDetail().improvement.reductionPercentage.to || 0">
      </go-percentage-card>
    }

    @case (CATEGORIES().WATER) {
      <go-percentage-card
        [label]="'FORM_LABEL.reductionPercentageWater'"
        [isUpto]="true"
        [percentage]="ecosolutionSearchDetail().improvement.reductionPercentage.to || 0">
      </go-percentage-card>
    }
    @case (CATEGORIES().HAZARDOUS_PRODUCT) {
      <go-percentage-card
        [label]="'FORM_LABEL.reductionPercentageHP'"
        [isUpto]="true"
        [percentage]="ecosolutionSearchDetail().improvement.reductionPercentage.to || 0">
      </go-percentage-card>
    }

    @default {
      <go-percentage-card
        [label]="'FORM_LABEL.reductionPercentageCO2'"
        [isUpto]="true"
        [percentage]="ecosolutionSearchDetail().improvement.reductionPercentage.to || 0">
      </go-percentage-card>
    }
  }
</ng-template>
