<section class="py-24" aria-labelledby="blogs-heading">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 id="blogs-heading" class="font-manrope mb-16 text-center text-3xl font-bold text-gray-800">
      Our latest <span class="text-primary-400">blogs</span>
    </h1>
    <div
      id="blogs-container"
      class="flex flex-wrap justify-center gap-y-8 md:flex-wrap lg:flex-row lg:flex-nowrap lg:justify-between lg:gap-x-8 lg:gap-y-0">
      @for (post of posts$ | async; track post.sys['id']) {
        <article
          class="group w-full transform rounded-2xl border border-gray-300 shadow-lg transition-transform hover:scale-105 sm:max-w-sm max-md:max-w-lg lg:w-1/2 xl:w-1/2 2xl:w-1/2">
          <div class="flex h-64 items-center justify-center rounded-t-2xl bg-gray-200">
            <img [src]="post.fields['image']" alt="Image" class="h-full w-full rounded-t-2xl object-cover" />
            <!--<span class="text-gray-400"></span>-->
          </div>
          <div class="rounded-b-2xl p-4 transition-all duration-300 group-hover:bg-gray-50 lg:p-6">
            <div class="mb-3 flex justify-between">
              <span class="font-medium text-primary-400">{{ post.fields['creationDate'] | goDateFormat }}</span>
              <span class="font-medium text-primary-400">{{ post.fields['author'] }}</span>
            </div>
            <h2 class="mb-5 text-xl font-medium leading-8 text-gray-900" id="post-title-1">{{ post.fields['title'] }}</h2>
            <p class="mb-10 leading-6 text-gray-500" id="post-text-1">{{ post.fields['content'] }}</p>
            <a [routerLink]="['../blog/' + post.sys['id']]" class="cursor-pointer text-lg font-semibold text-green-500 hover:underline"
              >{{ 'readMore' | translate }}</a
            >
          </div>
        </article>
      }
    </div>

  </div>
</section>
