<div class="access">
  <div class="hidden md:block md:w-1/2"></div>
  <div class="access-forms">
    <img alt="logo-access" src="assets/logo.png" #logo [routerLink]="['/']" class="size-20" />
    <goeko-select-i18n class="absolute right-0 top-0 mx-4 ml-auto block w-14 sm:hidden" />

    <router-outlet></router-outlet>

    <a href="https://goeko.ch"
      class="absolute top-0 left-0 m-4 flex items-center justify-center rounded-full w-12 h-12 bg-primary-default text-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition duration-300 hover:bg-white hover:boder-primary-default hover:border">
      <i class="ti ti-arrow-back"> arrow_back_ios </i>
    </a>
  </div>
</div>
