.access {
  @apply relative flex h-screen w-screen bg-[url('/assets/photo-login.jpg')] bg-cover bg-center;
}
.access-forms {
  @apply relative m-auto flex min-h-full w-full flex-col items-center justify-center gap-8 self-center rounded-l-3xl bg-white p-4 pt-24 sm:h-screen sm:p-0;
}
.arrow-back {
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border: none;

  @apply absolute left-5 top-5 flex size-10 cursor-pointer items-center justify-center rounded-full bg-white;
  span {
    position: relative;
    left: 0.3rem;
    color: #24253b;
  }
}
