<div class="banner justify-center p-4 lg:justify-between">
  <div class="banner-content">
    <div>
      <span class="fi fi-ch"></span>
      <span class="banner-info">{{ 'BANNER.swissCompany' | translate }}</span>
      <h1 class="banner-slogan text-4xl md:text-5xl lg:text-6xl">
        {{ 'BANNER.the' | translate }}
        <span class="banner-slogan--green">{{ 'BANNER.green' | translate }}</span>
        {{ 'BANNER.transition' | translate }}
      </h1>
      <div class="banner-support-text justify-center md:justify-start">
        <span class="word animate__animated">{{ 'BANNER.fast' | translate }}</span>
        |
        <span class="word animate__animated">{{ 'BANNER.easy' | translate }}</span>
        |
        <span class="word animate__animated">{{ 'BANNER.affordable' | translate }}</span>
      </div>
    </div>
  </div>

  <div class="banner-video">
    <button go-button appearance="flat" (click)="watchVideo()" class="button-play">
      <i class="ti ti-player-play-filled"></i>
      <p>{{ 'watchVideo' | translate }}</p>
    </button>
    <video loop class="banner-video-sme" preload="metadata" [src]="srcVideo()" #marketingVideo>
      <source type="video/mp4" />
    </video>

    <div class="bkg-video">
      <span class="layer"></span>
      <span class="layer"></span>
      <span class="layer"></span>
    </div>
  </div>
</div>
