$default-position-layer1-video: 5.4rem;
$default-position-layer2-video: 7rem;
$default-position-layer3-video: 8.4rem;

@mixin urlImg($img) {
  background-image: $img;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-background-light);
  background-position: center -51rem;
  display: block;
  width: 100%;
  background-attachment: fixed;
  transition: all 0.4s ease;
}

.banner {
  display: flex;
  justify-content: space-between;
  border-radius: 1.5rem;
  background: radial-gradient(
    141.88% 100.98% at 21.55% 0%,
    rgba(185, 231, 254, 0) 1.04%,
    #e0f2fe 54.28%,
    #b9e7fe 54.58%
  );
  gap: 2rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
  &-content {
    display: flex;
    flex-direction: column;
  }
  //@include urlImg(url(/assets/bkg-2.png));
  &-slogan {
    text-transform: uppercase;
    font: var(--font-huge-heading);
    font-size: clamp(2.4rem, 3rem, 3.75rem);
    color: var(--soft-dark, #094056);
  }
  &-support-text {
    font: var(--text-thin-accent);
    font-size: clamp(1rem, 1.2rem, 2rem);
    display: flex;
    gap: 1rem;
  }

  .word:nth-child(1) {
    animation-delay: 0.5s;
  }
  .word:nth-child(2) {
    animation-delay: 1.5s;
  }

  .word:nth-child(3) {
    animation-delay: 2.5s;
  }

  &-info {
    font: var(--font-label);
    color: var(--dark-accent, #163953);
    margin-left: 0.4rem;
  }
  &-shadow {
    // background: rgba(0, 0, 0, 0.45);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    left: 0;
    right: 0;
    background-image: url(/assets/marco-actors.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
  }
  &-actions {
    display: flex;
    gap: 2rem;
    width: 100%;
  }
}
.banner-actions > button {
  max-width: 16.25rem;
  width: 100%;
}

.banner-slogan--green {
  // box-shadow: inset 0vw 0px 7px 6vw rgb(33 166 80 / 70%);
  color: rgb(33 166 80 / 70%);
}
.banner-video {
  position: relative;
  width: clamp(430px, 100%, 549px);
  .banner-video-sme {
    z-index: 1;
    position: relative;
    border-radius: 33px;
    background: #fff;
    box-shadow: -4px 7px 19px 0px rgba(0, 0, 0, 0.09);
    width: 100%;
  }
}

.layer {
  border-radius: 2.0625rem;
  background: rgba(0, 144, 214, 0.55);
  box-shadow: -4px 7px 19px 0px rgba(0, 0, 0, 0.09);
  width: 98%;
  height: 15.60394rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.bkg-video {
  .layer:nth-child(1) {
    transform: translateY($default-position-layer1-video) scale(0.9);
  }
  .layer:nth-child(2) {
    transform: translateY($default-position-layer2-video) scale(0.82);
    background: rgba(0, 144, 214, 0.38);
  }
  .layer:nth-child(3) {
    transform: translateY($default-position-layer3-video) scale(0.74);
    background: rgba(0, 144, 214, 0.28);
  }
}
.watch-video {
  transform: translate(-50%, 7rem) scale(2);
}
.ods {
  position: absolute;
  bottom: 5%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.ods-icon {
  width: 70px;
}
.fi-ch {
  border-radius: 50% 10% / 34% 20%;
}
@keyframes fillAnimation {
  0% {
    fill: #ece2e2;
  }
  50% {
    fill: #ece2e2;
  }
  100% {
    fill: limegreen;
  }
}
@media (max-width: 1024px) {
  .banner {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .banner-content {
    align-items: center;
  }
  .banner-video-sme {
    width: 90%;
  }
  .bkg-video {
    display: none;
  }
}

@media (max-width: 768px) {
  .banner {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner-content {
    align-items: center;
  }
  .banner-video-sme {
    width: 90%;
  }
  .bkg-video {
    display: none;
  }
}
