<div class="banner lg:gap-20">
  @if (advantages) {
    <div class="banner-content">
      <div class="banner-support-text justify-center">
        @for (advantage of advantages; track advantage.title) {
          <div class="text-center">
            <img class="m-auto mb-4 h-[5.313rem] w-[5.313rem]" [src]="advantage.icon" [alt]="" />
            <h1 class="word animate__animated mb-4">{{ advantage.title }}</h1>
            <p>
              {{ advantage.description }}
            </p>
          </div>
        }
      </div>
    </div>
  }

  <div class="banner-video p-6 lg:w-[40rem]">
    <button go-button appearance="flat" (click)="watchVideo()" class="button-play">
      <i class="ti ti-player-play-filled"></i>
      <p>{{ 'watchVideo' | translate }}</p>
    </button>
    <video autoplay webkit-playsinline playsinline loop class="banner-video-sme" preload="metadata" [src]="srcVideo()" #marketingVideo>
      @defer (when srcVideo()) {
        <source [src]="srcVideo()" type="video/mp4" />
      }
    </video>
  </div>

  @defer {
    <go-slider></go-slider>
  } @placeholder {
    <div>loading...</div>
  }
</div>
