<div class="banner">
  <div class="banner-content">
    <div>
      <span class="fi fi-ch"></span>
      <span class="banner-info">{{ 'BANNER.swissCompany' | translate }}</span>

      <p class="slogan-target-goeko">{{ 'sloganMainBanner' | translate }}</p>
      <h1 class="banner-slogan">
        {{ 'BANNER.the' | translate }}
        <span class="banner-slogan--green">{{
          'BANNER.green' | translate
        }}</span>
        {{ 'BANNER.transition' | translate }}
      </h1>
      <div class="banner-support-text">
        <span class="word animate__animated">{{
          'BANNER.fast' | translate
        }}</span>
        |
        <span class="word animate__animated">{{
          'BANNER.easy' | translate
        }}</span>
        |
        <span class="word animate__animated">{{
          'BANNER.affordable' | translate
        }}</span>
      </div>
    </div>

    <button go-button appearance="flat" (click)="watchVideo()">
      <span class="material-symbols-rounded"> play_circle </span>
      <p>{{ 'watchVideo' | translate }}</p>
    </button>
  </div>

  <div class="banner-video">
    <video autoplay class="banner-video-sme" #marketingVideo>
      <source src="assets/GoEko_Ad_1_CC_French.mp4" type="video/mp4" />
    </video>

    <div class="bkg-video">
      <span class="layer"></span>
      <span class="layer"></span>
      <span class="layer"></span>
    </div>
  </div>

  <div class="ods" *ngIf="false">
    <img
      *ngFor="let icon of odsIcon"
      class="ods-icon"
      [src]="'assets/icon-ods/S-WEB-Goal-' + icon + '.png'"
      [alt]="icon"
    />
  </div>
</div>
