@mixin urlImg($img) {
  background-image: $img;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-background-light);
  background-position: center -51rem;
  display: block;
  width: 100%;
  background-attachment: fixed;
  transition: all 0.4s ease;
}

.banner {
  height: 100vh;
  display: flex;
  gap: 3rem;
  justify-content: start;

  flex-direction: column;

  padding-bottom: 14rem;

  &-content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
  }
  //@include urlImg(url(/assets/bkg-2.png));
  &-slogan {
    color: #011c37;
    font-family: 'Roboto-Regular', serif;
    font-size: 3.35rem;
    max-width: 640px;
    margin-top: 1.3rem;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  &-support-text {
    margin-top: 0;
    font-size: 2.6rem;
  }
  &-info {
    color: var(--color-swiss);
    background-color: var(--color-background-white);
    font-family: 'Barlow-SemiBold', serif;
    width: fit-content;
    padding: 0 3.1px;
  }
  &-shadow {
   // background: rgba(0, 0, 0, 0.45);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    left: 0;
    right: 0;

    background-image: url(/assets/fondo-header.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: 100%;
  }
  img {
    position: absolute;
    width: 100%;
    height: 95%;
    object-fit: contain;
    z-index: -2;
    left: 0;
    right: 0;
    background: linear-gradient(282deg, rgba(255,255,255,1) 25%, rgba(250,249,250,1) 48%, rgb(0 144 214 / 51%) 100%);
    display: none;
  }
  &-actions {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
  }
}
.banner-actions > button {
  max-width: 16.25rem;
  width: 100%;
}

.banner-slogan--green {
   // box-shadow: inset 0vw 0px 7px 6vw rgb(33 166 80 / 70%);
    color:  rgb(33 166 80 / 70%);
}

@media screen 
  and (min-device-width: 2500px)  { 


    
}